<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.global.js"></script>
    <script
        src="http://127.0.0.1:8080/recursos/components/bloque.js"></script>
    <script
        src="http://127.0.0.1:8080/recursos/components/enlace.js"></script>
    <script
        src="http://127.0.0.1:8080/recursos/components/recuadro.js"></script>
    <script src="componenteFlechaVector.js"></script>

    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet" href="estilosComponenteFlechaVector.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/enlaceEstilo.css">

    <title>Vector - notación</title>
</head>

<body>
    <div id="doc">
        <p>
            Los vectores suelen ser identificados mediante una letra. Esa letra puede estar:
        </p>
        <ul>
            <li>
                En negrita
            </li>
            <li>
                Marcada con un pequeña flecha sobre la letra:
            </li>
        </ul>
        <bloque-component tipo="ejemplo">
            <template #cabecera>
                En este cuadro se puede ver algunos vectores identificados con alguna letra.
            </template>
            <div class="itemEjemplo" v-for="(vector, index) of vectoresEjemplo" key="index">
                <componente-flecha-vector v-bind="vector" :mostrando-notacion="true">
                </componente-flecha-vector>

            </div>
        </bloque-component>

        <p>
            Un vector es descrito completamente mediante una magnitud y una dirección.
        </p>

        <bloque-component tipo="ejemplo">
            <template #cabecera>
                En este cuadro se puede ver algunos vectores descritos.
            </template>

            <div class="listaEjemplos">
                <div class="itemEjemplo" v-for="(vector, index) of vectoresEjemplo" key="index">
                    <componente-flecha-vector v-bind="vector" :mostrando-notacion="true">
                    </componente-flecha-vector>

                    <div class="bloqueDescripcionVector">
                        <span class="simboloVector">
                            <span>{{vector.simbolo}}</span><span class="flechitaNotacionVector">&#8407;</span>
                        </span>=({{vector.magnitud}}, {{vector.direccion}}°)
                    </div>
                </div>
            </div>

        </bloque-component>

        <div>
            El módulo de un vector se escribe entre barras verticales: <div class="simboloVector">
                | <span style="margin: 0px 3px">v</span><span class="flechitaNotacionVector">&#8407;</span> |
            </div>
        </div>

        <bloque-component tipo="ejemplo">
            <template #cabecera>
                En este cuadro se puede ver algunos vectores y se expresa su módulo con la notación adecuada.
            </template>

            <div class="listaEjemplos">
                <div class="itemEjemplo" v-for="(vector, index) of vectoresEjemplo" key="index">
                    <componente-flecha-vector v-bind="vector" :mostrando-notacion="true">
                    </componente-flecha-vector>

                    <div class="bloqueDescripcionVector">
                        |<span class="simboloVector" style="margin: 0px 4px">
                            <span>
                                {{vector.simbolo}}
                            </span>
                            <span class="flechitaNotacionVector">&#8407;</span>
                        </span>|={{vector.magnitud}}
                    </div>
                </div>
            </div>

        </bloque-component>

        <recuadro-component tipo="datoPrevio">
            El módulo de un vector es siempre un número positivo
        </recuadro-component>

    </div>
</body>

</html>


<script>
    const {createApp} = Vue;
    createApp({
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent,
            componenteFlechaVector
        },
        data() {
            return {
                factorMagnitudVectores: 20,
                vectoresEjemplo: [
                    {
                        magnitud: 5,
                        direccion: 45,
                        simbolo: "a"
                    },
                    {
                        magnitud: 2,
                        direccion: 245,
                        simbolo: "b"
                    },
                    {
                        magnitud: 3,
                        direccion: 270,
                        simbolo: "c"
                    },
                    {
                        magnitud: 4,
                        direccion: 190,
                        simbolo: "d"
                    },
                ]
            }
        },
        computed: {
        },
        methods: {
        },
        watch: {
        }
    }).mount("#doc")
</script>


<style>
    .simboloVector {
        position: relative;
    }


    .bloqueDescripcionVector {
        margin-top: 150px;
    }

    .itemEjemplo .componenteFlechaVector {
        margin: 40px auto;

    }
    .flechitaNotacionVector{
        font-size: 28px;
    }
    .itemEjemplo{
        min-width: 120px;
    }
</style>
