<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://127.0.0.1:8080/recursos/librerias/vue.global.js"></script>

    <script
        src="http://127.0.0.1:8080/recursos/components/bloque.js"></script>
    <script
        src="http://127.0.0.1:8080/recursos/components/enlace.js"></script>
    <script
        src="http://127.0.0.1:8080/recursos/components/recuadro.js"></script>


    <link rel="stylesheet" href="http://127.0.0.1:8080/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/enlaceEstilo.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/mats/anguloEstilo.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/mats/trianguloEstilo.css">



    <title>Razones trigonométricas básicas - explicación</title>
</head>

<body>
    <div id="doc">
        <p>
            En los triángulos rectángulos es interesante comparar los lados y determinar las razones entre ellos.
        </p>

        <p>
            Cuando se tiene un triángulo rectángulo construido a partir de cierto ángulo, las razones entre sus lados
            tienen nombres:
        </p>

        <ul>
            <li>
                La razón entre el cateto opuesto y la hipotenusa se llama <span class="resaltado">seno</span>.
            </li>
            <li>
                La razón entre el cateto adyacente y la hipotenusa se llama <span class="resaltado">coseno</span>.
            </li>
            <li>
                La razón entre el cateto opuesto y el cateto adyacente se llama <span class="resaltado">tangente</span>.
            </li>
        </ul>

        <bloque-component tipo='herramientaInteractiva' @desplegado="h1Reiniciar">
            <template #cabecera>
                En este cuadro se puede construir un triángulo rectángulo a partir de cierto ángulo y calcular sus
                razones trigonométricas básicas.
            </template>

            <div class="zonaInteraccion" id="h1ZonaInteraccion">
                <componente-angulo :size="150" :angulo="degToRad(h1Angulo)" :rotacion="h1RotacionAngulo" id="h1Angulo"
                    :en-grados="true">
                    <componente-triangulo v-bind="h1Triangulo" v-if="h1Triangulo" :propiedades-simbolizadas="[]"
                        :ancho="h1AnchoTriangulo" :unidad="h1UnidadTriangulo" :style="[h1EstiloTriangulo]"
                        color-relleno="transparent" id="h1Triangulo">
                    </componente-triangulo>
                    <transition name="fadeIn">
                        <div id="h1ContenedorCatetos" :style="[h1EstiloContenedorCatetos]" v-if="h1Triangulo">
                            <div class="cateto"
                                :class="{deRazonEnCalculo: h1RazonEnCalculo==='coseno' || h1RazonEnCalculo==='tangente'}"
                                id="h1CatetoAdyacente">
                                <transition name="fadeIn">
                                    <div class="nombreCateto nombreCatetoAdyacente" :style="[h1EstiloNombresCatetos]">
                                        {{truncar(h1Triangulo.ancho, 2)}}
                                    </div>
                                </transition>
                            </div>
                            <div class="cateto" id="h1CatetoOpuesto"
                                :class="{deRazonEnCalculo: h1RazonEnCalculo==='seno' || h1RazonEnCalculo==='tangente'}">
                                <transition name="fadeIn">
                                    <div class="nombreCateto nombreCatetoOpuesto" :style="[h1EstiloNombresCatetos]">
                                        {{truncar(h1Triangulo.largo, 2)}}
                                    </div>
                                </transition>
                            </div>
                            <div class="cateto" id="h1Hipotenusa" :style="[h1EstiloHipotenusa]"
                                :class="{deRazonEnCalculo: h1RazonEnCalculo==='coseno' || h1RazonEnCalculo==='seno'}">
                            </div>
                            <div class="nombreCateto nombreHipotenusa" :style="[h1EstiloNombresCatetos]">
                                {{truncar(h1Triangulo.hipotenusa, 2)}}
                            </div>
                        </div>
                    </transition>
                </componente-angulo>

                <transition name="fadeIn">
                    <recuadro-component tipo='datoNuevo' v-if="h1Step>=3">
                        <div class="flexVertical">
                            <div id="h1ProcesoEnCalculo">
                                <span>
                                    {{h1RazonEnCalculo}}
                                </span>
                                <span>
                                    =
                                </span>
                                <div class="ladoDerecho" :style="h1EstiloLadoDerecho">
                                    <transition name="fade">
                                        <div class="descripcionRazon" v-show="h1StepCalculoRazon === 1">
                                            {{h1DescripcionRazon}}
                                        </div>
                                    </transition>

                                    <transition name="unfoldHorizontalAbsolute">
                                        <template v-if="h1StepCalculoRazon>=2">
                                            <transition name="fade" mmode="out-in">
                                                <div class="division flexVertical" v-if="h1StepCalculoRazon === 2">
                                                    <transition name="fade" @enter="h1AnimarEntrada($event, 'arriba')">
                                                        <button class="boton botonNombreLado h1OcupanteNumeroDivision"
                                                            v-if="h1RazonMostrandoNumeroArriba === false"
                                                            @click="h1RazonMostrandoNumeroArriba=true">
                                                            {{h1LadoArriba}}
                                                        </button>
                                                        <div v-else
                                                            class="h1OcupanteNumeroDivision h1NumeroExplicitoArriba">
                                                            {{truncar(h1NumeroArriba, 2)}}
                                                        </div>
                                                    </transition>
                                                    <div class="lineaDivision">
                                                    </div>
                                                    <transition name="fade" @enter="h1AnimarEntrada($event, 'abajo')">
                                                        <button
                                                            class="boton botonNombreLado h1OcupanteNumeroDivision h1OcupanteAbajo"
                                                            v-if="h1RazonMostrandoNumeroAbajo === false"
                                                            @click="h1RazonMostrandoNumeroAbajo=true">
                                                            {{h1LadoAbajo}}
                                                        </button>
                                                        <div v-else
                                                            class="h1OcupanteNumeroDivision h1NumeroExplicitoAbajo">
                                                            {{truncar(h1NumeroAbajo, 2)}}
                                                        </div>
                                                    </transition>
                                                </div>
                                                <div class="resultado" v-else>
                                                    {{truncar(h1ResultadoRazonEscogida, 2)}}
                                                </div>
                                            </transition>
                                        </template>
                                    </transition>

                                </div>

                            </div>

                            <transition name="fadeIn2">
                                <div id="aclaracionRazonAngulo" v-show="h1StepCalculoRazon>=3">
                                    Para triángulos construidos a partir de un ángulo de {{h1Angulo}}°.
                                </div>
                            </transition>
                            <button class="boton"
                                :disabled="h1StepCalculoRazon>=3 || (h1StepCalculoRazon === 2 && (!h1RazonMostrandoNumeroAbajo || !h1RazonMostrandoNumeroArriba))"
                                :class="{deshabilitado: h1StepCalculoRazon>=3 || (h1StepCalculoRazon===2 && (!h1RazonMostrandoNumeroAbajo || !h1RazonMostrandoNumeroArriba))}"
                                @click="h1StepCalculoRazon=h1StepCalculoRazon>3?3:h1StepCalculoRazon+1">
                                Continuar
                            </button>
                        </div>

                    </recuadro-component>
                </transition>

            </div>
            <transition name="fade" mode="out-in">
                <recuadro-component tipo='instruccionPointer' v-if="h1Step===1">
                    <div class="flexVertical">
                        Selecciona el ángulo
                        <input type="range" min="15" max="45" v-model.number="h1Angulo">
                        {{h1Angulo}}
                    </div>
                    <button class="boton" @click="h1Step=2">
                        Trazar triángulo
                    </button>

                </recuadro-component>

                <div class="flexVertical" v-else>
                    <div class="flexHorizontal" v-show="h1Step===2">
                        <button class="boton" @click="h1EscogerRazon('seno')">
                            Calcular seno
                        </button>
                        <button class="boton" @click="h1EscogerRazon('coseno')">
                            Calcular coseno
                        </button>
                        <button class="boton" @click="h1EscogerRazon('tangente')">
                            Calcular tangente
                        </button>
                    </div>

                    <button class="boton" @click="h1Reiniciar" v-show="h1Step>=1">
                        Reiniciar
                    </button>
                </div>
            </transition>

        </bloque-component>



    </div>
</body>

</html>

<script type="module">
    import {degToRad, truncar} from "http://127.0.0.1:8080/recursos/funciones/utilsMats.js"
    import {componenteAngulo} from "http://127.0.0.1:8080/recursos/components/mats/angulo.js"
    import {componenteTriangulo} from "http://127.0.0.1:8080/recursos/components/mats/triangulo.js"


    const {ref, computed, nextTick, watch} = Vue;
    const {createApp} = Vue;
    createApp({
        setup() {
            const h1Angulo = ref(30);
            const h1AnchoTriangulo = ref(6);
            const h1UnidadTriangulo = ref(20);
            const h1RotacionAngulo = ref(Math.random() * Math.PI * 2);
            const h1EstiloTriangulo = computed(() => {
                console.log(`Computando estilo triángulo con ${h1Angulo.value} y ${h1RotacionAngulo.value}`);
                return {
                    transform: `rotate(${- h1RotacionAngulo.value}rad)`

                }
            })
            const h1Step = ref(1);
            const h1Triangulo = computed(() => {
                if (h1Step.value >= 2) {
                    let largo = Math.tan(degToRad(h1Angulo.value)) * h1AnchoTriangulo.value;
                    return {
                        ancho: h1AnchoTriangulo.value,
                        xPunta: h1AnchoTriangulo.value,
                        largo: largo,
                        hipotenusa: Math.sqrt(Math.pow(h1AnchoTriangulo.value, 2) + Math.pow(largo, 2)),
                    }
                }
                return null
            })

            function h1Reiniciar() {
                h1RotacionAngulo.value = Math.round(Math.random() * 4) * Math.PI / 2;
                h1Step.value = 1;
                h1StepCalculoRazon.value = 1;
                h1RazonEnCalculo.value = null;
                h1RazonMostrandoNumeroArriba.value = false;
                h1RazonMostrandoNumeroAbajo.value = false;
            }
            const h1EstiloContenedorCatetos = computed(() => {
                return {
                    height: Math.tan(degToRad(h1Angulo.value)) * h1AnchoTriangulo.value * h1UnidadTriangulo.value + 'px',
                    width: h1AnchoTriangulo.value * h1UnidadTriangulo.value + 'px',
                    transform: `rotate(-${h1RotacionAngulo.value}rad)`
                }
            });

            const h1EstiloNombresCatetos = computed(() => {
                return {
                    transform: `rotate(${h1RotacionAngulo.value}rad)`
                }
            })
            const h1EstiloHipotenusa = computed(() => {
                if (!h1Triangulo.value) {
                    return {}
                }
                let rotacion = Math.atan2(h1Triangulo.value.largo, h1Triangulo.value.ancho);
                return {
                    width: h1Triangulo.value.hipotenusa * h1UnidadTriangulo.value + 'px',
                    transform: `rotate(${-rotacion}rad)`,
                }
            })

            const h1DescripcionRazon = ref('');
            const h1LadoArriba = ref('');
            const h1LadoAbajo = ref('');
            const h1NumeroArriba = ref(null);
            const h1NumeroAbajo = ref(null);
            const h1ResultadoRazonEscogida = ref(null);
            const h1RazonEnCalculo = ref(null);
            const h1StepCalculoRazon = ref(1);
            /* watch(h1StepCalculoRazon, step => {
                if (step === 3) {
                    setTimeout(() => {
                        h1Step.value = 4;
                    }, 3000);
                }
            }) */
            function h1EscogerRazon(nombreRazon) {
                h1RazonEnCalculo.value = nombreRazon;
                if (nombreRazon === 'seno') {
                    h1LadoArriba.value = 'cateto opuesto';
                    h1LadoAbajo.value = 'hipotenusa';

                    h1NumeroArriba.value = h1Triangulo.value.largo;
                    h1NumeroAbajo.value = h1Triangulo.value.hipotenusa;
                }
                if (nombreRazon === 'coseno') {
                    h1LadoArriba.value = 'cateto adyacente';
                    h1LadoAbajo.value = 'hipotenusa';

                    h1NumeroArriba.value = h1Triangulo.value.ancho;
                    h1NumeroAbajo.value = h1Triangulo.value.hipotenusa;
                }
                if (nombreRazon === 'tangente') {
                    h1LadoArriba.value = 'cateto opuesto';
                    h1LadoAbajo.value = 'cateto adyacente';

                    h1NumeroArriba.value = h1Triangulo.value.largo;
                    h1NumeroAbajo.value = h1Triangulo.value.ancho;
                }
                h1ResultadoRazonEscogida.value = h1NumeroArriba.value / h1NumeroAbajo.value;
                h1DescripcionRazon.value = 'Razón entre ' + h1LadoArriba.value + ' y ' + h1LadoAbajo.value;

                h1Step.value = 3;
            }
            const h1EstiloLadoDerecho = computed(() => {
                return {
                    width: h1StepCalculoRazon.value < 3 && (!h1RazonMostrandoNumeroAbajo.value || !h1RazonMostrandoNumeroArriba.value) ? '150px' : '40px',
                }
            })
            const h1RazonMostrandoNumeroArriba = ref(false);
            const h1RazonMostrandoNumeroAbajo = ref(false);

            function h1AnimarEntrada(elementoNumero, posicion) {
                const elementoContenedor = document.querySelector("#h1ContenedorCatetos");
                if (!elementoContenedor) {
                    console.log(`No hay contenedorCatetos`);
                    return;
                }
                let identificadorOrigen;
                if (posicion === 'arriba') {
                    identificadorOrigen = h1RazonEnCalculo.value == 'seno' ? '.nombreCatetoOpuesto' : h1RazonEnCalculo.value == 'coseno' ? '.nombreCatetoAdyacente' : h1RazonEnCalculo.value === 'tangente' ? '.nombreCatetoOpuesto' : null;
                }
                else {
                    identificadorOrigen = h1RazonEnCalculo.value == 'seno' ? '.nombreHipotenusa' : h1RazonEnCalculo.value == 'coseno' ? '.nombreHipotenusa' : h1RazonEnCalculo.value === 'tangente' ? '.nombreCatetoAdyacente' : null;
                }
                if (!identificadorOrigen) {
                    console.log(`Error seleccionando identificador de órigen`);
                    return;
                }
                const elementoOrigen = elementoContenedor.querySelector(identificadorOrigen);
                if (!elementoOrigen) {
                    console.log(`No hay elementoOrigen`);
                    return;
                }
                let posOrigen = elementoOrigen.getBoundingClientRect();
                let posFinal = elementoNumero.getBoundingClientRect()
                let vector = {
                    x: posOrigen.left - posFinal.left,
                    y: posOrigen.top - posFinal.top,
                }
                console.log(`Animando`);
                elementoNumero.animate([
                    {
                        transform: `translate(${vector.x}px, ${vector.y}px)`,
                        opacity: 1,
                        color: 'black',
                    },
                    {
                        transform: `translate(0px, 0px)`,
                        color: 'white',
                        opacity: 1,
                    }

                ], {duration: 900});



            }

            return {
                degToRad, truncar,
                h1Angulo, h1AnchoTriangulo, h1UnidadTriangulo, h1RotacionAngulo, h1EstiloTriangulo, h1Step, h1Triangulo, h1Reiniciar, h1EstiloContenedorCatetos, h1EstiloNombresCatetos, h1EstiloHipotenusa,
                h1DescripcionRazon, h1LadoArriba, h1LadoAbajo, h1NumeroArriba, h1NumeroAbajo, h1ResultadoRazonEscogida, h1EscogerRazon, h1RazonEnCalculo, h1StepCalculoRazon, h1RazonMostrandoNumeroArriba, h1RazonMostrandoNumeroAbajo,
                h1AnimarEntrada, h1EstiloLadoDerecho,
            }
        },
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent,
            componenteAngulo,
            componenteTriangulo,
        },
    }).mount("#doc");
</script>

<style>
    #h1Angulo {
        margin: 100px auto;
    }

    #h1Angulo .linea {
        pointer-events: none;
    }

    .labelAngulo {
        z-index: 1;
    }

    #h1Triangulo {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform-origin: bottom left;
        z-index: 0;
        pointer-events: none;
    }

    #h1ContenedorCatetos {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform-origin: bottom left;
        pointer-events: none;
    }

    .cateto {
        position: absolute;
    }

    .cateto .linea {
        transition: background-color 0.5s;
    }

    .cateto.deRazonEnCalculo{
        background-color: var(--paletaPrevio);
    }

    #h1CatetoAdyacente {
        top: 100%;
        left: 0%;
        height: 2px;
        width: 100%;
        transfomr: translateY(-50%);

    }

    #h1CatetoOpuesto {
        left: 100%;
        top: 0%;
        width: 2px;
        height: 100%;
        transform: translateX(-50%);
    }

    #h1Hipotenusa {
        left: 0%;
        bottom: 0%;
        height: 2px;
        transform-origin: center left;
    }

    .nombreCateto {
        position: absolute;
        font-size: 15px;
        text-align: center;
    }

    #h1CatetoAdyacente .nombreCateto {
        top: calc(100% + 10px);
        left: calc(50% - 10px);
    }

    #h1CatetoOpuesto .nombreCateto {
        left: calc(100% + 10px);
        top: calc(50% - 10px);
    }

    #h1ContenedorCatetos .nombreHipotenusa {
        left: calc(50% - 20px);
        bottom: calc(50% + 30px);
    }

    #h1ProcesoEnCalculo {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }

    #h1ProcesoEnCalculo .ladoDerecho {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        min-height: 100px;
        transition: width 1s;
        transition-delay: 1s;
    }

    #h1ProcesoEnCalculo .division {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    #h1ProcesoEnCalculo .division .lineaDivision {
        height: 2px;
        width: 100%;
        background-color: whitesmoke;
    }

    .fade-enter-active {
        animation-duration: 1s;
    }

    .unfoldHorizontalAbsolute-leave-to {
        opacity: 0;
    }

    .unfoldHorizontalAbsolute-leave-active {
        transition: opacity 1s;
    }

    .botonNombreLado.fade-leave-active {
        position: absolute;
    }

    .botonNombreLado.h1OcupanteAbajo.fade-leave-active {
        bottom: 3px;
    }

    .h1OcupanteNumeroDivision {
        height: 40px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .h1OcupanteNumeroDivision.h1NumeroExplicitoArriba {
        display: flex;
        align-items: flex-end;
    }

    #aclaracionRazonAngulo.fadeIn2-enter-active {
        transition-delay: 3s;
    }
</style>
