<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.global.js"></script>

    <script
        src="http://127.0.0.1:8080/recursos/components/bloque.js"></script>
    <script
        src="http://127.0.0.1:8080/recursos/components/enlace.js"></script>
    <script
        src="http://127.0.0.1:8080/recursos/components/recuadro.js"></script>

    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/mats/trianguloEstilo.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="http://127.0.0.1:8080/recursos/components/enlaceEstilo.css">



    <title>Triángulo rectángulo - evaluación</title>
</head>

<body>
    <div id="doc">

        Conozco el triángulo rectángulo si:
        <bloque-component tipo="evaluacion"
            textoCabecera="Dado un dibujo de un triángulo puedo decidir si se trata de un triángulo rectángulo o no">

            <div class="flexVertical">
                <button class="boton" @click="e1GenerarReto">
                    Generar triángulo
                </button>

                <div class="zonaReto">
                    <componente-triangulo v-if="e1Reto" :ancho="e1Reto.anchoTriangulo" :largo="e1Reto.largoTriangulo"
                        :style="[{transform: 'rotate(' + e1Reto.rotacionTriangulo + 'rad)'}]" id="e1Triangulo"
                        :x-punta="e1Reto.xPuntaTriangulo" :propiedades-representadas="[]" :propiedades-simbolizadas="[]"
                        :color-relleno="'transparent'">
                    </componente-triangulo>
                </div>

                <recuadro-component tipo='instruccionTeclado' v-if="e1Reto">
                    <div class="flexVertical">
                        Selecciona tu respuesta.
                        <div class="flexHorizontal">
                            <button class="boton" @click="e1EvaluarRespuestaUsuario(false)">
                                No es un triángulo rectángulo
                            </button>
                            <button class="boton" @click="e1EvaluarRespuestaUsuario(true)">
                                Es un triángulo rectángulo
                            </button>
                        </div>
                    </div>
                </recuadro-component>

                <transition name="fadeIn" @enter="scrollToElemento">
                    <recuadro-component tipo="infoResultado" v-if="e1RespuestaUsuarioCorrecta!=null"
                        :modo="e1RespuestaUsuarioCorrecta?'correcto':'incorrecto'" :key="e1VersionRespuestaUsuario">
                    </recuadro-component>
                </transition>


            </div>

        </bloque-component>
        <bloque-component tipo="evaluacion"
            textoCabecera="Puedo explicar las características de un triángulo rectángulo">

        </bloque-component>
        <bloque-component tipo="evaluacion"
            textoCabecera="Dado un dibujo de un triángulo rectángulo puedo indicar el nombre que se le da a sus lados">
            <div class="flexVertical">
                <button class='boton' @click="e3GenerarReto">
                    Dibujar triángulo
                </button>

                <div class='zonaReto' id="e3ZonaReto" v-if="e3Reto">
                    <componente-triangulo v-if="e3Reto" :ancho="e3Reto.anchoTriangulo" :largo="e3Reto.largoTriangulo"
                        :style="[{transform: 'rotate(' + e3Reto.rotacionTriangulo + 'rad)'}]" id="e3Triangulo"
                        style="margin: 10px auto" :propiedades-representadas="[]" :propiedades-simbolizadas="[]"
                        :x-punta="e3Reto.xPuntaTriangulo" color-relleno='transparent'>
                    </componente-triangulo>
                </div>

                <transition name="fadeIn">
                    <recuadro-component tipo='instruccionTeclado' v-if="e3Reto" :key="e3VersionReto">
                        <div class="flexVertical">
                            Introduce el nombre del lado resaltado
                            <transition :name="e3TransicionInputs" mode="out-in" @after-enter="focusSelectElemento">
                                <input type="text" ref="inputRespuestaUsuarioLado1" v-if="e3IndexIntroduciendoLado===0"
                                    v-model="e3RespuestasUsuario[0]">
                                <input type="text" ref="inputRespuestaUsuarioLado2"
                                    v-else-if="e3IndexIntroduciendoLado===1" v-model="e3RespuestasUsuario[1]">
                                <input type="text" ref="inputRespuestaUsuarioLado3"
                                    v-else="e3IndexIntroduciendoLado===2" v-model="e3RespuestasUsuario[2]">
                            </transition>
                            <div class="flexHorizontal">
                                <button class="boton" :disabled="e3IndexIntroduciendoLado < 1"
                                    @click="e3IndexIntroduciendoLado=e3IndexIntroduciendoLado<=0?0:e3IndexIntroduciendoLado-1"
                                    :class="{deshabilitado: e3IndexIntroduciendoLado<1}">
                                    Anterior
                                </button>
                                <button class="boton" :disabled="e3IndexIntroduciendoLado > 1"
                                    @click="e3IndexIntroduciendoLado=e3IndexIntroduciendoLado>=2?2:e3IndexIntroduciendoLado+1"
                                    :class="{deshabilitado: e3IndexIntroduciendoLado>1}">
                                    Siguiente
                                </button>
                            </div>
                            <button class="boton" v-show="e3RespuestaUsuarioCompleta"
                                @click="e3EvaluarRespuestaUsuario">
                                Aceptar
                            </button>
                        </div>
                    </recuadro-component>
                </transition>
                <transition name="fadeIn" @enter="scrollToElemento">
                    <recuadro-component tipo="infoResultado" v-if="e3RespuestaUsuarioCorrecta!=null"
                        :modo="e3RespuestaUsuarioCorrecta?'correcto':'incorrecto'" :key="e3VersionRespuestaUsuario">
                    </recuadro-component>
                </transition>

            </div>
        </bloque-component>

    </div>
</body>

</html>

<script type="module">
    import {useUtils} from 'http://127.0.0.1:8080/recursos/composables/utils.js'
    import {useEvaluacionNodo} from 'http://127.0.0.1:8080/recursos/composables/evaluacionNodo.js'
    import {componenteTriangulo} from 'http://127.0.0.1:8080/recursos/components/mats/triangulo.js'
    const {createApp, ref, computed, watch, nextTick} = Vue;
    createApp({
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent,
            componenteTriangulo
        },
        setup() {
            const {scrollToElemento, focusSelectElemento} = useUtils();
            //e1
            const {versionReto: e1VersionReto, reto: e1Reto, reiniciarReto: e1ReiniciarReto, generarReto: e1GenerarReto, respuesta: e1Respuesta, respuestaUsuarioCorrecta: e1RespuestaUsuarioCorrecta, versionRespuestaUsuario: e1VersionRespuestaUsuario, inputRespuestaUsuario: e1InputRespuestaUsuario, evaluarRespuestaUsuario: e1EvaluarRespuestaUsuario} = useEvaluacionNodo(e1AddToGenerarReto);
            function e1AddToGenerarReto() {
                const minAncho = 3;
                const maxAncho = 12;
                const minLargo = 2;
                const maxLargo = 10;
                const rangoAncho = maxAncho - minAncho;
                const rangoLargo = maxLargo - minLargo;

                e1Reto.value = {};

                e1Reto.value.anchoTriangulo = Math.round(Math.random() * rangoAncho + minAncho);
                e1Reto.value.largoTriangulo = Math.round(Math.random() * rangoLargo + minLargo);

                //Se rodará un dado para decidir si es triángulo rectángulo. Hay 3 xPunta para triangulo rectángulo: 0, ancho, y un punto intermedio que hace que la punta sea un ángulo recto.
                let dado = Math.random();
                if (dado > 0.5) {//Se hará un triángulo rectángulo.
                    if (dado > 0.75) {
                        e1Reto.value.xPuntaTriangulo = 0;
                    }
                    else {
                        e1Reto.value.xPuntaTriangulo = e1Reto.value.anchoTriangulo;
                    }
                    e1Respuesta.value = true;
                }
                else {
                    e1Reto.value.xPuntaTriangulo = Math.random() * e1Reto.value.anchoTriangulo;

                    let rangosDespejados = []; //Rangos del ancho en los cuales no puede ubicarse xPunta pues se asemejaría a un ángulo recto.
                    if (e1Reto.value.anchoTriangulo > 2 * e1Reto.value.largoTriangulo) { //Encontrar puntos intermedios en los cuales xPunta genera un ángulo recto.
                        const porcentajePadding = 25; //Porcentaje de ancho que se despeja alrededor de los xPunta de ángulo recto para no generar confusiones.
                        const padding = e1Reto.value.anchoTriangulo * porcentajePadding / 100;
                        //Los dos puntos intermedios son las raices de una ecuación cuadrática.
                        let sumadorRestador = Math.sqrt(Math.pow(e1Reto.value.anchoTriangulo, 2) - 4 * Math.pow(e1Reto.value.largoTriangulo, 2)) / 2;
                        let primerTermino = e1Reto.value.anchoTriangulo / 2
                        const puntoAnguloRecto1 = primerTermino - sumadorRestador;
                        const puntoAnguloRecto2 = primerTermino + sumadorRestador;
                        if (puntoAnguloRecto1 + padding / 2 >= puntoAnguloRecto2 - padding / 2) { // Overlapping
                            //Se crea un solo rango despejado:
                            rangosDespejados.push([puntoAnguloRecto1 - padding / 2, puntoAnguloRecto2 + padding / 2]);
                        }
                        else {//Dos rangos despejados.
                            rangosDespejados.push([puntoAnguloRecto1 - padding / 2, puntoAnguloRecto1 + padding / 2]);
                            rangosDespejados.push([puntoAnguloRecto2 - padding / 2, puntoAnguloRecto2 + padding / 2]);
                        }
                    }
                    rangosDespejados.forEach(rango => {
                        let distanciaInicio = e1Reto.value.xPuntaTriangulo - rango[0];
                        let distanciaFinal = rango[0] - e1Reto.value.xPuntaTriangulo;
                        if (distanciaInicio > 0 && distanciaFinal > 0) {
                            if (distanciaFinal < distanciaInicio) {
                                e1Reto.value.xPuntaTriangulo = rango[0];
                            }
                            else {
                                e1Reto.value.xPuntaTriangulo = rango[1];
                            }
                        }
                    });

                    e1Respuesta.value = false;
                }
                e1Reto.value.rotacionTriangulo = Math.round(Math.random() * Math.PI * 2);
            }


            //e3
            const e3LadosPreguntados = ref([]);
            const e3Respuestas = ref([]);
            const e3AddToGenerarReto = function () {
                const minAncho = 3;
                const maxAncho = 12;
                const minLargo = 2;
                const maxLargo = 10;
                const rangoAncho = maxAncho - minAncho;
                const rangoLargo = maxLargo - minLargo;

                e3Reto.value = {};

                e3Reto.value.anchoTriangulo = Math.round(Math.random() * rangoAncho + minAncho);
                e3Reto.value.largoTriangulo = Math.round(Math.random() * rangoLargo + minLargo);
                e3Reto.value.xPuntaTriangulo = Math.random() > 0.5 ? 0 : e3Reto.value.anchoTriangulo;
                e3Reto.value.rotacionTriangulo = Math.round(Math.random() * Math.PI * 2);

                let ladosPreguntables = ['ladoBase', 'lado1', 'lado2'];
                let respuestasOrdenadas = [];
                if (e3Reto.value.xPuntaTriangulo === 0) {
                    respuestasOrdenadas = ['cateto', 'cateto', 'hipotenusa'];
                }
                else {
                    respuestasOrdenadas = ['cateto', 'hipotenusa', 'cateto'];
                }
                const primerLado = Math.round(Math.random() * 2);
                e3LadosPreguntados.value.push(ladosPreguntables.splice(primerLado, 1)[0]);
                e3Respuestas.value.push(respuestasOrdenadas.splice(primerLado, 1)[0]);

                const segundoLado = Math.round(Math.random());
                e3LadosPreguntados.value.push(ladosPreguntables.splice(segundoLado, 1)[0]);
                e3Respuestas.value.push(respuestasOrdenadas.splice(segundoLado, 1)[0]);

                e3LadosPreguntados.value.push(ladosPreguntables[0]);
                e3Respuestas.value.push(respuestasOrdenadas[0]);

            }
            const e3AddToReiniciarReto = function () {
                e3RespuestasUsuario.value = Array(3).fill('');
                e3LadosPreguntados.value = new Array();
                e3Respuestas.value = new Array();
                e3IndexIntroduciendoLado.value = 0;
            }
            const {versionReto: e3VersionReto, reto: e3Reto, reiniciarReto: e3ReiniciarReto, generarReto: e3GenerarReto, respuesta: e3Respuesta, respuestaUsuarioCorrecta: e3RespuestaUsuarioCorrecta, versionRespuestaUsuario: e3VersionRespuestaUsuario, inputRespuestaUsuario: e3InputRespuestaUsuario} = useEvaluacionNodo(e3AddToGenerarReto, e3AddToReiniciarReto);

            const e3IndexIntroduciendoLado = ref(0);
            const e3LadoIntroduciendose = computed(() => {
                return e3LadosPreguntados.value[e3IndexIntroduciendoLado.value];
            });
            const e3RespuestasUsuario = ref(Array(3).fill(''));
            const e3RespuestaUsuarioCompleta = computed(() => {
                return !e3RespuestasUsuario.value.some(campo => !campo || campo.length < 2);

            });

            function e3EvaluarRespuestaUsuario() {
                e3RespuestaUsuarioCorrecta.value = true;
                e3RespuestasUsuario.value.forEach((respuestaUsuario, index) => {
                    if (respuestaUsuario.trim().toLowerCase() != e3Respuestas.value[index]) {
                        e3RespuestaUsuarioCorrecta.value = false;
                    }
                })
                e3VersionRespuestaUsuario.value++;
            }

            watch(e3LadoIntroduciendose, async (nombreLado) => {
                document.querySelectorAll("#e3Triangulo .lado").forEach(lado => {
                    lado.style.backgroundColor = 'black';
                    lado.style.height = '1px';
                })

                await nextTick();
                const selector = "#e3Triangulo " + "." + nombreLado;
                const elLado = document.querySelector(selector);
                if (!elLado) {
                    return
                }
                elLado.style.backgroundColor = 'var(--paletaMain)';
                elLado.style.height = '2px';
            })

            //Direccion de la transición de los inputs
            const e3TransicionInputs = ref('travelAcrossRightLeft');
            watch(e3IndexIntroduciendoLado, (indexActual, indexViejo) => {
                if (indexActual > indexViejo) {
                    e3TransicionInputs.value = 'travelAcrossRightLeft';
                }
                else {
                    e3TransicionInputs.value = 'travelAcrossLeftRight';
                }

            })


            return {
                e1VersionReto, e1Reto, e1ReiniciarReto, e1GenerarReto, e1Respuesta, e1RespuestaUsuarioCorrecta, e1VersionRespuestaUsuario, e1InputRespuestaUsuario, e1EvaluarRespuestaUsuario,

                scrollToElemento, focusSelectElemento,
                e3VersionReto, e3Reto, e3ReiniciarReto, e3GenerarReto, e3Respuesta, e3RespuestaUsuarioCorrecta, e3VersionRespuestaUsuario, e3InputRespuestaUsuario, e3EvaluarRespuestaUsuario,
                e3LadoIntroduciendose, e3IndexIntroduciendoLado, e3RespuestasUsuario, e3RespuestaUsuarioCompleta,
                e3TransicionInputs,

            }


        },
        data() {
            return {
            }
        },
    }).mount("#doc");
</script>

<style>
    .zonaReto {
        width: 100%;
        padding: 30px 0px;
        position: relative;
    }

    #e1Triangulo {
        margin: 40px auto;
    }
</style>
