.opcionRespuesta {
    cursor: pointer;
    background-color: var(--accion);
    box-shadow: 2px 2px 2px gray;
}

.instruccion {
    text-align: center;
}

declaracion-respuesta {
    display: flex;
    min-height: 5rem;
    flex-direction: column;
}
