<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://192.168.1.100:3000/public/resources/libraries/vue.global.js"></script>

    <script
        src="http://192.168.1.100:3000/public/atlasConocimiento/nodosConocimiento/recursos/components/bloque.js"></script>
    <script
        src="http://192.168.1.100:3000/public/atlasConocimiento/nodosConocimiento/recursos/components/enlace.js"></script>
    <script
        src="http://192.168.1.100:3000/public/atlasConocimiento/nodosConocimiento/recursos/components/recuadro.js"></script>
    <link rel="stylesheet" href="../../recursos/components/mats/rectanguloEstilo.css">
    <link rel="stylesheet" href="../../recursos/components/mats/circuloEstilo.css">
    <link rel="stylesheet" href="../../recursos/components/mats/cuadriculaEstilo.css">
    <link rel="stylesheet"
        href="http://192.168.1.100:3000/public/atlasConocimiento/nodosConocimiento/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet"
        href="http://192.168.1.100:3000/public/atlasConocimiento/nodosConocimiento/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="http://192.168.1.100:3000/public/atlasConocimiento/nodosConocimiento/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="http://192.168.1.100:3000/public/atlasConocimiento/nodosConocimiento/recursos/components/enlaceEstilo.css">

    <title>Áreas fundamentales - círculo</title>
</head>

<body>
    <div id="doc">
        <p>
            Si se recorta el círculo de forma que se pueda formar un rectángulo, es posible calcular su área.
        </p>

        <bloque-component tipo="herramientaInteractiva" @plegado="h1Reiniciar">
            <template #cabecera>
                En este cuadro se puede reorganizar un círculo en forma de rectángulo y llegar a una conclusión respecto
                de su área.
            </template>

            <div class="zonaInteraccion">
                <componente-circulo :unidad="40" :determinante="{radio: h1RadioCirculo}"
                    :style="[{borderColor: h1Step>0?'transparent':undefined}]"
                    :propiedades-simbolizadas="h1Step===0?['radio']:[]"
                    :propiedades-representadas="h1Step===0?['radio']:[]">
                    <template v-if="h1Step>=1">
                        <componente-division-circulo class="divisionCirculo" :secciones-enfrentadas="h1Step>=2"
                            :mostrando-fondo="h1Step>=3" :mostrando-lineas="h1Step<3"
                            v-for="(seccion, index) of h1DivisionesCirculo" :apertura="h1AperturaDivisionesCirculo"
                            :index="index">
                        </componente-division-circulo>
                    </template>
                        <div class="relleno" :style="[estiloRelleno]" v-show="h1Step>=0">
                        </div>
                </componente-circulo>
            </div>
            <div class="flexVertical">
                <input type="range" min=0 max=128 step=2 v-model.number="h1DivisionesCirculo" v-show="h1Step===0">
                <transition name="enterBottom">
                    <button class="boton" @click="h1Step++" :key="h1Step"
                        :class="{disabled: h1Step>=3}">{{h1TextoBoton}}({{h1DivisionesCirculo}})</button>
                </transition>
            </div>

        </bloque-component>

        <recuadro-component tipo="datoPrevio">
            El área de un círculo es la mitad del área del rectángulo circunscrito
        </recuadro-component>
    </div>
</body>

</html>

<script type="module">

    const componenteDivisionCirculo = {
        template: `
            <div class="componenteDivisionCirculo" :style="[estiloDivision]">
            <transition name="fade" appear>
                <div class="bordeDivisionCirculo" :style="[estiloBorde1]" v-show="mostrandoLineas">
                </div>
            </transition>
            <transition name="fade" appear>
                <div class="bordeDivisionCirculo" :style="[estiloBorde2]" v-show="mostrandoLineas">
                </div>
            </transition>
            </div>
        `,
        props: {
            apertura: {
                type: Number,
                default: 0,
            },
            index: {
                type: Number,
                required: true,
            },
            seccionesEnfrentadas: { //Las secciones se ponen unas frente a otras
                type: Boolean,
                default: false

            },
            mostrandoLineas: {
                type: Boolean,
                default: true,
            },
            mostrandoFondo: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {}
        },
        computed: {
            cantidadTotal() {
                return Math.round(2 * Math.PI / this.apertura);
            },
            estiloDivision() {
                let alturaExtremo = 100 * Math.tan(this.apertura / 2);
                let desplazamiento = 0;
                let desplazamientoVertical = 0;
                let ajusteDesplazamientoVertical = 0;
                let rotacion = this.index * this.apertura;
                if (this.seccionesEnfrentadas) {
                    let stepDesplazamiento = 200 * Math.sin(this.apertura / 2);
                    desplazamientoVertical = -25 * Math.cos(this.apertura / 2);
                    ajusteDesplazamientoVertical = -0;
                    let sizeFila = this.cantidadTotal / 2;
                    if (this.index + 1 <= this.cantidadTotal / 2) {
                        desplazamiento = sizeFila / 2 - 0.5 - (this.index) + 0.25
                        rotacion = Math.PI / 2;
                    }
                    else {
                        desplazamiento = -(-0.5 + (3 * sizeFila / 2)) + (this.index) - 0.25;
                        desplazamientoVertical = -desplazamientoVertical;
                        rotacion = 3 * Math.PI / 2;
                        ajusteDesplazamientoVertical = -ajusteDesplazamientoVertical;
                    }
                    desplazamiento = desplazamiento * 100 * Math.sin(this.apertura / 2);
                    console.log(`${this.index} con desplazamiento vertical ${desplazamientoVertical} y ajuste ${ajusteDesplazamientoVertical}`);
                }
                return {
                    transform: `rotate(${rotacion}rad)`,
                    left: desplazamiento + "%",
                    top: `calc(${desplazamientoVertical}% + ${ajusteDesplazamientoVertical}px)`,
                    clipPath: `polygon(50% 50%, 100% ${50 - alturaExtremo / 2}%, 100% ${50 + alturaExtremo / 2}%, 50% 50%)`,
                    borderColor: this.mostrandoLineas ? undefined : 'transparent',
                    backgroundColor: this.mostrandoFondo ? 'var(--paletaActual)' : undefined
                }
            },
            estiloBorde1() {
                return {
                    transform: `rotate(${this.apertura / 2}rad)`,
                }
            },
            estiloBorde2() {
                return {
                    transform: `rotate(-${this.apertura / 2}rad)`,
                }
            },
        }
    }
    import {componenteCirculo} from "../../recursos/components/mats/circulo.js";
    import {componenteRectangulo} from "../../recursos/components/mats/rectangulo.js";
    import {componenteCuadriculaArea} from "../../recursos/components/mats/cuadriculaArea.js";
    import {useUtils} from "http://192.168.1.100:3000/public/atlasConocimiento/nodosConocimiento/recursos/composables/utils.js";
    const {ref, computed, nextTick, watch} = Vue;
    const {createApp} = Vue;
    Vue.createApp({
        setup() {
            function h1Reiniciar() {
                h1Step.value = 0;
            }
            const h1RadioCirculo = ref(5)
            const h1DivisionesCirculo = ref(8);
            const h1AperturaDivisionesCirculo = computed(() => {
                return 2 * Math.PI / h1DivisionesCirculo.value
            })

            const h1TextoBoton = ref('');
            const h1Descripcion = ref('');

            const h1Step = ref(0);
            watch(h1Step, (step) => {
                console.log("stepping up")
                switch (step) {
                    case 0:
                        h1TextoBoton.value = 'Dividir el círculo en secciones';
                        break;
                    case 1:
                        h1TextoBoton.value = 'Reorganizar las secciones';
                        break;
                    case 2:
                        h1TextoBoton.value = 'Analizar el área del círculo';
                        break;
                    case 3:
                        break;
                }
            }, {immediate: true});

            const estiloRelleno = computed(() => {
                return {
                    backgroundColor: h1Step.value > 2 ? `var(--paletaActual)` : 'transparent',
                    height: `${50 * Math.cos(h1AperturaDivisionesCirculo.value / 2)}%`,
                    width: `${50 * Math.sin(h1AperturaDivisionesCirculo.value / 2) * 2 * (h1DivisionesCirculo.value / 2 - 0.5)}%`,
                    left: `${50 - (50 * Math.sin(h1AperturaDivisionesCirculo.value / 2) * 2 * (h1DivisionesCirculo.value / 4 - 0.25))}%`,
                    top: `${50 - 25 * Math.cos(h1AperturaDivisionesCirculo.value / 2)}%`,
                }
            });
            return {
                h1Reiniciar, h1TextoBoton, h1Descripcion,
                h1RadioCirculo, h1Step, h1DivisionesCirculo, h1AperturaDivisionesCirculo,
                estiloRelleno,
            }

        },
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent,
            componenteCirculo,
            componenteRectangulo,
            componenteCuadriculaArea,
            componenteDivisionCirculo,
        },
    }).mount("#doc");

</script>

<style>
    #h1Circulo {
        margin: 40px auto;
        position: relative;
    }

    .componenteDivisionCirculo {
        border: 1px solid black;
        border-radius: 50%;
        position: absolute;
        top: 0%;
        left: 0%;
        transform-origin: center center;
        width: 100%;
        height: 100%;
        transition: all 4.3s, background-color 1s;
    }

    .bordeDivisionCirculo {
        height: 2px;
        background-color: black;
        width: 50%;
        transform-origin: center left;
        position: absolute;
        top: calc(50% - 1px);
        left: 50%;
    }

    .componenteCirculo .relleno {
        position: absolute;
        transition: all 0.5s;
        transition-delay: 0.5s;
    }

    .faderelleno-enter-from,
    .faderelleno-leave-to {
        opacity: 0;
    }

    .faderelleno-enter-to,
    .faderelleno-leave-from {
        opacity: 1;
    }

    .faderelleno-enter-active,
    .faderelleno-leave-active {
        transition: all 4.3s
    }
</style>
