<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.global.js"></script>

    <script
        src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/bloque.js"></script>
    <script
        src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/enlace.js"></script>
    <script
        src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/recuadro.js"></script>
    <script id="MathJax-script" async
        src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/MathJax/mathjax.js"></script>
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/mats/rectanguloEstilo.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/mats/circuloEstilo.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/mats/cuadriculaEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/enlaceEstilo.css">

    <title>Áreas fundamentales - círculo</title>
</head>

<body>
    <div id="doc">
        <p>
            Si se recorta el círculo de forma que se pueda formar un rectángulo, es posible calcular su área.
        </p>

        <bloque-component tipo="herramientaInteractiva" @plegado="h1Reiniciar">
            <template #cabecera>
                En este cuadro se puede reorganizar un círculo en forma de rectángulo y llegar a una conclusión respecto
                de su área.
            </template>

            <div class="zonaInteraccion">
                <componente-circulo :unidad="40" :determinante="{radio: h1RadioCirculo}" :style="[h1EstiloCirculo]"
                    id="h1Circulo" :propiedades-simbolizadas="[]" :propiedades-representadas="[]">
                    <div class="circunferenciaHovered" v-show="h1MostrandoCircunferencia && h1DivisionesCirculo===0">

                    </div>
                    <transition name="fade">
                        <div class="labelEspecialCircunferencia labelCompleta"
                            @pointerenter="h1MostrandoCircunferencia=true"
                            @pointerleave="h1MostrandoCircunferencia=false"
                            v-show="h1ProgresoReorganizacionDivisiones===0">
                            C
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="labelEspecialCircunferencia labelMedia"
                            v-show="h1ProgresoReorganizacionDivisiones===100"
                            :style="[{bottom: 100 -  25*Math.cos(h1AperturaDivisionesCirculo/2) + '%'}]"
                            @pointerenter="h1MostrandoMediaCircunferencia=-1"
                            @pointerleave="h1MostrandoMediaCircunferencia=0">
                            \(C \over 2 \)
                        </div>
                    </transition>
                    <template v-if="h1Step>=0">
                        <componente-division-circulo class="divisionCirculo" :mostrando-fondo="h1Step>=2"
                            :resaltando-borde="h1MostrandoCircunferencia"
                            :mostrando-mitad-borde="h1MostrandoMediaCircunferencia" :mostrando-lineas="h1Step<2"
                            v-for="(seccion, index) of h1DivisionesCirculo" :apertura="h1AperturaDivisionesCirculo"
                            :index="index" :progreso-reorganizacion="h1ProgresoReorganizacionDivisiones">
                        </componente-division-circulo>
                    </template>
                    <transition name="fade">
                        <div class="labelEspecialRadio" v-show="h1ProgresoReorganizacionDivisiones==100"
                            :style="[{rotation: h1ProgresoReorganizacionDivisiones * Math.PI/200, left: 54 + (h1DivisionesCirculo/4)*100*Math.sin(h1AperturaDivisionesCirculo/2) + '%'}]">
                            r
                        </div>
                    </transition>
                    <div class="relleno" :style="[estiloRelleno]" v-show="h1Step>=0">
                    </div>
                </componente-circulo>
            </div>
            <div class="flexVertical" style="gap: 0px;">
                <transition name="fadeIn">
                    <recuadro-component tipo="instruccionPointer" v-show="h1Step===0">
                        <div class="flexVertical">
                            Dividir el círculo en secciones
                            <input type="range" min=0 max=128 step=2 v-model.number="h1DivisionesCirculo">
                        </div>
                    </recuadro-component>
                </transition>
                <transition name="fadeIn">
                    <recuadro-component tipo="instruccionPointer" v-show="h1Step === 1">
                        <div class="flexVertical">
                            Reorganizar las secciones
                            <input type="range" id="inputReorganizacionDivisiones" min="0" max="100" step="10"
                                v-model.number="h1ProgresoReorganizacionDivisiones">
                        </div>
                    </recuadro-component>
                </transition>
                <div class="flexHorizontal" style="margin-top: -10px">
                    <button class="boton" @click="h1Step--" :class="{deshabilitado: h1Step<=0}">Atrás</button>
                    <button class="boton" @click="h1Step++" :key="h1Step"
                        :class="{deshabilitado: h1Step>=2 || (h1Step===0 && h1DivisionesCirculo<2) || (h1Step===1 && h1ProgresoReorganizacionDivisiones<100)}"
                        :disabled="h1Step>=2 || (h1Step<0 && h1DivisionesCirculo < 2) || (h1Step===1 && h1ProgresoReorganizacionDivisiones<100)">Continuar</button>
                </div>
                <transition name="fadeIn">
                    <recuadro-component tipo="datoNuevo" v-show="h1Step>=2">
                        {{h1ComentarioFiguraFinal}}
                    </recuadro-component>
                </transition>
            </div>

        </bloque-component>

        <recuadro-component tipo="datoPrevio">
            El área de un círculo es igual al área de un rectángulo que sea tan ancho como la mitad de su circunferencia
            y tan largo
            como su radio.

            <div class="zonaFiguras flexHorizontal" style="gap: 50px">

                <componente-circulo :determinante="{radio: 3.2}"
                    style="background-color: var(--paletaActual); flex-wrap: wrap"
                    :propiedades-representadas="['radio', 'circunferencia']"
                    :propiedades-simbolizadas="['radio', 'circunferencia']">

                </componente-circulo>
                <div class="rectanguloDelCirculo">
                    <div class="label labelCircunferencia">
                        \( C \over 2\)
                    </div>
                    <div class="label labelRadio">
                        r
                    </div>
                </div>
            </div>
        </recuadro-component>

        <recuadro-component tipo="datoPrevio">
            El área de un círculo es la mitad de su circunferencia multiplicada por su radio:
            <div style="font-size: 40px; margin: 10px auto; text-align: center;">
                \( A= {{C \over 2 } \times r } \)
            </div>
        </recuadro-component>


    </div>
</body>

</html>

<script type="module">

    const componenteDivisionCirculo = {
        template: `
            <div class="componenteDivisionCirculo" :style="[estiloDivision]">
                <transition name="fade" appear>
                    <div class="bordeDivisionCirculo" :style="[estiloBorde1]" v-show="mostrandoLineas || mostrandoMitadBorde===1">
                    </div>
                </transition>
                <transition name="fade" appear>
                    <div class="bordeDivisionCirculo" :style="[estiloBorde2]" v-show="mostrandoLineas || mostrandoMitadBorde===-1">
                    </div>
                </transition>
                <slot>
                </slot>
            </div>
        `,
        props: {
            apertura: {
                type: Number,
                default: 0,
            },
            index: {
                type: Number,
                required: true,
            },
            seccionesEnfrentadas: { //Las secciones se ponen unas frente a otras
                type: Boolean,
                default: false

            },
            mostrandoLineas: {
                type: Boolean,
                default: true,
            },
            mostrandoFondo: {
                type: Boolean,
                default: false,
            },
            progresoReorganizacion: {
                type: Number,
                default: 0,
            },
            resaltandoBorde: {
                type: Boolean,
                default: false
            },
            mostrandoMitadBorde: {
                type: Number,
                default: 0,
            }
        },
        data() {
            return {}
        },
        computed: {
            cantidadTotal() {
                return Math.round(2 * Math.PI / this.apertura);
            },
            estiloDivision() {
                let alturaExtremo = 100 * Math.tan(this.apertura / 2);
                let desplazamientoInicial = 0;
                let desplazamientoVerticalInicial = 0;
                let rotacionInicial = this.index * this.apertura;

                //Si hay reorganización
                let desplazamientoFinal = desplazamientoInicial;
                let rotacionFinal = rotacionInicial;
                let stepDesplazamiento = 100 * Math.sin(this.apertura / 2);
                let desplazamientoVerticalFinal = desplazamientoVerticalInicial;
                let sizeFila = this.cantidadTotal / 2;
                if (this.index + 1 <= this.cantidadTotal / 2) {
                    desplazamientoFinal = sizeFila / 2 - 0.5 - (this.index) + 0.25
                    rotacionFinal = Math.PI / 2;
                    desplazamientoVerticalFinal = -25 * Math.cos(this.apertura / 2);
                }
                else {
                    desplazamientoFinal = -(-0.5 + (3 * sizeFila / 2)) + (this.index) - 0.25;
                    desplazamientoVerticalFinal = 25 * Math.cos(this.apertura / 2);
                    rotacionFinal = 3 * Math.PI / 2;
                }
                desplazamientoFinal = desplazamientoFinal * stepDesplazamiento;

                let porcentajeDesplazamiento = (desplazamientoFinal - desplazamientoInicial) / 100;
                let porcentajeDesplazamientoVertical = (desplazamientoVerticalFinal - desplazamientoVerticalInicial) / 100;
                let porcentajeRotacion = (rotacionFinal - rotacionInicial) / 100;

                let desplazamiento = desplazamientoInicial + porcentajeDesplazamiento * this.progresoReorganizacion;
                let desplazamientoVertical = desplazamientoVerticalInicial + porcentajeDesplazamientoVertical * this.progresoReorganizacion;
                let rotacion = rotacionInicial + porcentajeRotacion * this.progresoReorganizacion;

                console.log(`${this.index} con desplazamiento vertical ${desplazamientoVertical}`);

                return {
                    transform: `rotate(${rotacion}rad)`,
                    left: desplazamiento + "%",
                    top: `calc(${desplazamientoVertical}%)`,
                    clipPath: `polygon(50% 50%, 100% ${50 - alturaExtremo / 2}%, 100% ${50 + alturaExtremo / 2}%, 50% 50%)`,
                    borderColor: !this.mostrandoLineas ? 'transparent' : this.resaltandoBorde ? 'var(--paletaActual)' : undefined,
                    borderWidth: this.resaltandoBorde ? '3px' : '1px',
                    backgroundColor: this.mostrandoFondo ? 'var(--paletaActual)' : undefined
                }
            },
            estiloBorde1() {
                return {
                    transform: `rotate(${this.apertura / 2}rad)`,
                }
            },
            estiloBorde2() {
                return {
                    transform: `rotate(-${this.apertura / 2}rad)`,
                }
            },
        }
    }
    import {componenteCirculo} from "https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/mats/circulo.js";
    import {componenteRectangulo} from "https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/mats/rectangulo.js";
    import {componenteCuadriculaArea} from "https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/components/mats/cuadriculaArea.js";
    import {useUtils} from "https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/recursos/composables/utils.js";
    const {ref, computed, nextTick, watch} = Vue;
    const {createApp} = Vue;

    const app = Vue.createApp({
        setup() {
            function h1Reiniciar() {
                h1Step.value = 0;
            }
            const h1RadioCirculo = ref(5)
            const h1DivisionesCirculo = ref(0);
            const h1AperturaDivisionesCirculo = computed(() => {
                return 2 * Math.PI / h1DivisionesCirculo.value
            })

            const h1TextoBoton = ref('');
            const h1Descripcion = ref('');

            const h1Step = ref(0);
            const h1ProgresoReorganizacionDivisiones = ref(0);
            watch(h1Step, (step) => {
                console.log("stepping up")
                switch (step) {
                    case 0:
                        h1TextoBoton.value = 'Dividir el círculo en secciones';
                        h1ProgresoReorganizacionDivisiones.value = 0;
                        break;
                    case 1:
                        h1TextoBoton.value = 'Reorganizar las secciones';
                        break;
                    case 2:
                        h1TextoBoton.value = 'Analizar el área del círculo';
                        break;
                    case 3:
                        break;
                }
            }, {immediate: true});

            const h1ComentarioFiguraFinal = computed(() => {
                if (h1DivisionesCirculo.value > 120) {
                    return 'Esta figura es casi un rectángulo'
                }
                else if (h1DivisionesCirculo.value > 80) {
                    return 'Esta figura es muy semejante a un rectángulo'
                }
                else if (h1DivisionesCirculo.value > 20) {
                    return 'Esta figura tiene algo de parecido con un rectángulo'
                }
                else if (h1DivisionesCirculo.value >= 12) {
                    return 'Esta figura tiene cierta uniformidad'
                }
                return 'Esta figura no tiene una forma conocida'
            })


            const estiloRelleno = computed(() => {
                return {
                    backgroundColor: h1Step.value >= 2 ? `var(--paletaActual)` : 'transparent',
                    height: `${50 * Math.cos(h1AperturaDivisionesCirculo.value / 2)}%`,
                    width: `${50 * Math.sin(h1AperturaDivisionesCirculo.value / 2) * 2 * (h1DivisionesCirculo.value / 2 - 0.5)}%`,
                    left: `${50 - (50 * Math.sin(h1AperturaDivisionesCirculo.value / 2) * 2 * (h1DivisionesCirculo.value / 4 - 0.25))}%`,
                    top: `${50 - 25 * Math.cos(h1AperturaDivisionesCirculo.value / 2)}%`,
                    transition: h1Step.value === 2 ? `background-color 0.5s` : '',
                    transitionDelay: h1Step.value === 2 ? `0.5s` : '',
                }
            });
            const h1MostrandoCircunferencia = ref(false);
            const h1MostrandoMediaCircunferencia = ref(0);
            const h1EstiloCirculo = computed(() => {
                return {
                    transitionDelay: h1Step.value === 0 ? '0.5s' : '',
                    transitionProperty: 'border-color',
                    borderColor: h1Step.value > 0 ? 'transparent' : undefined,
                    borderWidth: h1DivisionesCirculo.value > 0 ? '0px' : '1px'
                }
            })
            return {
                h1Reiniciar, h1TextoBoton, h1Descripcion, h1ComentarioFiguraFinal,
                h1RadioCirculo, h1Step, h1ProgresoReorganizacionDivisiones, h1DivisionesCirculo, h1AperturaDivisionesCirculo,
                estiloRelleno, h1EstiloCirculo, h1MostrandoCircunferencia, h1MostrandoMediaCircunferencia,

            }
        },
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent,
            componenteCirculo,
            componenteRectangulo,
            componenteCuadriculaArea,
            componenteDivisionCirculo,
        },
    })
    app.config.compilerOptions.isCustomElement = (tag) => tag.includes('mjx');
    app.mount("#doc");

</script>

<style>
    #h1Circulo {
        margin: 40px auto;
        position: relative;
    }

    .circunferenciaHovered {
        border: 2px solid var(--paletaActual);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 3;
        box-sizing: border-box;
    }

    .componenteDivisionCirculo {
        border: 1px solid black;
        border-radius: 50%;
        position: absolute;
        top: 0%;
        left: 0%;
        transform-origin: center center;
        width: 100%;
        height: 100%;
        transition: transform 0.3s, top 0.3s, left 0.3s, background-color 1s;
    }

    .labelEspecialCircunferencia {
        font-size: 19px;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .labelEspecialCircunferencia.labelCompleta {
        top: 50%;
        left: -10%;
    }

    .labelEspecialCircunferencia.labelMedia {
        left: 50%;
        top: 10%;
    }

    .labelEspecialRadio {
        transform: translate(-0%, -50%);
        position: absolute;
        top: 50%;
        left: 120%;
    }

    .bordeDivisionCirculo {
        height: 2px;
        background-color: black;
        width: 50%;
        transform-origin: center left;
        position: absolute;
        top: calc(50% - 1px);
        left: 50%;
    }

    .rectanguloDelCirculo {
        width: 200px;
        height: 68px;
        background-color: var(--paletaActual);
        position: relative;
    }

    .rectanguloDelCirculo .label {
        position: absolute;
        font-size: 15px;
        transform: translate(-50%, -50%);
    }

    .rectanguloDelCirculo .labelCircunferencia {
        bottom: calc(100% - 8px);
        left: 50%;
    }

    .rectanguloDelCirculo .labelRadio {
        left: calc(100% + 5px);
        top: 50%;
    }

    .zonaFiguras {
        padding: 100px 0px;
    }

    .componenteCirculo .relleno {
        position: absolute;
    }

    .faderelleno-enter-from,
    .faderelleno-leave-to {
        opacity: 0;
    }

    .faderelleno-enter-to,
    .faderelleno-leave-from {
        opacity: 1;
    }

    .faderelleno-enter-active,
    .faderelleno-leave-active {
        transition: all 4.3s
    }
</style>
