.componente-bloque {
    border-radius: 15px;
    max-width: 90%;
    margin: 35px auto;
    padding: 25px;
    background-color: #DEDEDE;
}

.componente-bloque .iconoBloque {
    height: 25px;
}


.componente-bloque .zonaCabecera {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.componente-bloque .zonaCabecera:not(.spoiler) {
    flex-direction: row;
}

.componente-bloque .zonaCabecera.spoiler {
    flex-direction: column;
}

.componente-bloque .zonaCabecera:not(.spoiler) .iconoBloque {
    margin-right: 25px;
}

.componente-bloque #textoSpoiler {
    margin: 10px auto;
    font-size: 11px;
    text-align: center;
}

.componente-bloque #desplegable {
    padding: 40px 0px;
}

@media (max-width: 600px) {
    .componente-bloque .zonaCabecera {
        flex-direction: column;
        gap: 20px;
    }

    .componente-bloque .zonaCabecera .iconoBloque {
        margin: 10px auto;
    }
}
