.componenteControlSteps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--paletaActual);
    color: whitesmoke;
    padding: 40px 80px;
    border-radius: 20px;
}

.componenteControlSteps .contenedorRelato {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.componenteControlSteps .contenedorRelato .itemRelato {
    display: flex;
    gap: 10px;
    align-items: center;
    opacity: 0.4;
}

.componenteControlSteps .contenedorRelato .itemRelato.itemRelatoActivo {
    opacity: 1;
}

.componenteControlSteps .icono {
    height: 20px;
    margin: 20px auto;
    filter: invert(100%);
}

.componenteControlSteps .contenedorIconoEjecutarAccion {
    margin-left: auto;
}

.componenteControlSteps .iconoEjecutarAccion {
    height: 20px;
    filter: invert(100%);
    cursor: pointer;
}
