.componenteOcto{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.componenteOcto .fila{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.componenteOcto .fila.doble{
    justify-content: space-between;
    height: 45%;
}

.componenteOcto .barrita{
    width: 100%;
    height: 4px;
}
.componenteOcto .fila.doble .barrita{
    width: 4px;
    height: 100%
}

