
.conjuntoNumerico {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;

}

.conjuntoNumerico .labelConjunto{
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: whitesmoke;
    font-size: 14px;
    padding: 3px 5px;
    background-color: var(--paletaActual);
    z-index: 3;
}
.conjuntoNumerico #nombreConjunto {
    font-size: 11px;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    background-color: #a2a2a2;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    z-index: 1;
}

.conjuntoNumerico .contenedorSubconjuntos {
    display: flex;
    align-items: center;
    gap: 10px;
    padding:15px;
    row-gap: 30px;
    width: fit-content;
    flex-wrap: wrap;
    position: relative;
    z-index:0;
    overflow: hidden;
    transform-origin: top center;
}


.caerTop-enter-from, .caerTop-leave-to{
    transform: translateY(-100%);
}
.caerTop-leave-from, .caerTop-enter-to{
    transform: translateY(0%);
}
.caerTop-enter-active, .caerTop-leave-active{
    transition: transform 1000ms;
}
.fade-enter-active{
    transition: opacity 1s;
}

.ventanaConjuntosZoomables {
    width: 98vw;
    overflow: scroll;
    margin: 10px auto;
    position: relative;
    display: grid;
    box-shadow: 1px 1px 1px 1px gray;
    padding: 20px 0px;
}

.conjuntoNumericoZoomable{
    flex-shrink: 0;
    flex-grow:0;
    box-sizing: border-box;
    transform-origin: top left;
    overflow: hidden;
    position: relative;
}

.conjuntoNumericoZoomable .contenedorSubconjuntos{
    display: flex;
    gap: 2px;
    justify-content:stretch;
    width: 100%;
    height: 100%;
    z-index:0;
}
.conjuntoNumericoZoomable .nombreConjunto{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index:1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
