.ordenMagnitudComponente{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: fit-content;
    min-width: 50px;
    position: relative;
}
.ordenMagnitudComponente #nombreOrden{
    width: 100%;
    font-size: 76%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
@keyframes foldVertical{
    0%{transform: rotateX(0deg)}
    100%{transform: rotateX(90deg)}
}
.foldBolitas-leave-active{
    animation: foldVertical 2s linear;
}
.foldBolitas-enter-active{
    animation: foldVertical 2s reverse linear;
}

.ordenMagnitudComponente #contenedorDobleSubpartes{
    overflow: hidden;
    border: 1px dashed red;
}
.ordenMagnitudComponente .contenedorSubpartes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    background-color: #acacac;
}
.ordenMagnitudComponente #nombreOrden{
    border: 1px dashed blue;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 1s, height 1s;
}
