.conjuntoNumerico {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 10px;
    position: relative;
}

.conjuntoNumerico #nombreConjunto {
    font-size: 11px;
    text-align: center;
    padding: 10px;
}

.conjuntoNumerico .contenedorSubconjuntos {
    display: flex;
    align-items: center;
    gap: 10px;
    row-gap: 30px;
    flex-wrap: wrap;
    position: relative;
}

.conjuntoNumerico .contenedorSubconjuntos.lleno {
    opacity: 0.6;
}

.transicionSubconjuntos-enter-from,
.transicionSubconjuntos-leave-to {
    transform: scale(0);
}

.transicionSubconjuntos-enter-to,
.transicionSubconjuntos-leave-from {
    transform: scale(1);
}

.transicionSubconjuntos-enter-active,
.transicionSubconjuntos-leave-active {
    transition: transform 1s;
}
