<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.js"></script>

    <script src="http://127.0.0.1:8080/recursos/components/bloque.js"></script>
    <script src="http://127.0.0.1:8080/recursos/components/enlace.js"></script>
    <script src="http://127.0.0.1:8080/recursos/components/recuadro.js"></script>

    <link rel="stylesheet" href="http://127.0.0.1:8080/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet" href="http://127.0.0.1:8080/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet" href="http://127.0.0.1:8080/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet" href="http://127.0.0.1:8080/recursos/components/enlaceEstilo.css">



    <title>Sistema decimal - Evaluación</title>
</head>

<body>
    <div id="doc">
        Comprendo el sistema decimal si:


        <bloque-component tipo="evaluacion">
            <template #cabecera>
                Conozco los nombres de los conjuntos usados en el sistema decimal.
            </template>
        </bloque-component>

        <bloque-component tipo="evaluacion">
            <template #cabecera>
                Dado cualquier número en notación decimal puedo describirlo en términos de conjuntos decimales.
            </template>
            <div class="flexVertical">
                <button class="boton" @click="generarReto2">Generar número</button>
                <transition name="travelTop">
                    <div class="reto" v-show="reto2" :key="reto2">
                        {{reto2}}
                    </div>
                </transition>
            </div>
        </bloque-component>

        <bloque-component tipo="evaluacion" ref="evaluacion3">
            <template #cabecera>
                Dado cualquier número, puedo determinar su cantidad de algún tipo de conjunto dado.
            </template>
            <div class="flexVertical">
                <button class="boton" @click="generarReto3">
                    Generar número
                </button>
                <div class="reto" :key="reto3">
                    {{reto3}}
                </div>
                <transition name="fadeIn">
                    <div :key="reto3" v-if="reto3!=null && nombreOrden3!=null">
                        Determina la cantidad de <span class="resaltado"> {{nombreOrden3}} </span>
                    </div>
                </transition>
                <recuadro-component tipo="instruccionTeclado" v-if="reto3">
                    <span>Introduce aquí tu respuesta</span>
                    <input type="number" ref="inputRespuestaReto3" @keydown.enter="evaluarRespuestaReto3">
                    <button class="boton" @click="evaluarRespuestaReto3">
                        Aceptar
                    </button>
                </recuadro-component>
                <transition name="enterTop" @before-enter="scrollInfoRespuestaReto3">
                    <recuadro-component tipo="infoResultado" v-show="respuestaCorrectaReto3!=null"
                        :modo="respuestaCorrectaReto3?'correcto':'incorrecto'" :key="versionRespuestaUsuarioReto3">
                    </recuadro-component>
                </transition>
            </div>
        </bloque-component>

    </div>
</body>

</html>

<script>
    const doc = new Vue({
        el: "#doc",
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        data() {
            return {
                reto2: null,
                reto3: null,
                ordenMagnitudReto3: '',
                respuestaCorrectaReto3: null,
                versionRespuestaUsuarioReto3: 0,
            }
        },
        methods: {
            generarReto2() {
                const amplitud = 10000000;
                const base = 100;
                this.reto2 = Math.round(Math.random() * amplitud) + base;
            },
            reiniciarReto3() {
                if (this.$refs.inputRespuestaReto3) {
                    this.$refs.inputRespuestaReto3.value = null;
                }
                this.reto3 = null;
                this.respuestaCorrectaReto3 = null;

            },
            generarReto3() {
                this.reiniciarReto3();
                const amplitud = 100000;
                const base = 100;
                this.reto3 = Math.round(Math.random() * amplitud) + base;
                let ordenMaximo = 0;
                console.log(`Calculando orden máximo para ${this.reto3}`);
                for (let i = 0; i < 20; i++) {
                    if (this.reto3 / Math.pow(10, i) < 1) {
                        ordenMaximo = i - 1;
                        break;
                    }
                }
                console.log(`Resultó ${ordenMaximo}`);
                let orden = Math.ceil(Math.random() * ordenMaximo);
                if (orden < 1) {
                    orden = 1;
                }

                this.ordenMagnitudReto3 = orden;
            },
            evaluarRespuestaReto3() {
                if (!this.$refs.inputRespuestaReto3?.value) {
                    console.log(`No hay respuesta`);
                    return;
                }
                let respuestaUsuario = Math.round(Number(this.$refs.inputRespuestaReto3.value));
                let respuestaCorrecta = Math.floor(this.reto3 / Math.pow(10, this.ordenMagnitudReto3));
                if (respuestaUsuario === respuestaCorrecta) {
                    this.respuestaCorrectaReto3 = true;
                }
                else {
                    this.respuestaCorrectaReto3 = false;
                }
                this.versionRespuestaUsuarioReto3++;
            },
            scrollInfoRespuestaReto3() {
                this.$nextTick(() => {
                    let offset = this.$refs.evaluacion3.$el.getBoundingClientRect();
                    if (this.$refs.evaluacion3?.$el) {
                        if (offset.bottom > window.innerHeight || offset.bottom < window.innerHeight / 2) {
                            this.$refs.evaluacion3.$el.scrollIntoView({behavior: "smooth", block: "end"});
                        }
                    }
                    else {
                        console.log(`No element`);
                    }
                })
            },
            palabraToPlural(palabra) {
                let vocales = ["a", "e", "i", "o", "u"];
                if (vocales.includes(palabra.charAt(palabra.length - 1))) {
                    return palabra + "s";
                }
                if (palabra.charAt(palabra.length - 1) === "z") {
                    palabra = palabra.slice(palabra.length - 1) + "c";
                }
                return palabra + "es"
            }

        },
        computed: {
            nombreOrden3() {
                const bases = ['unidad', 'decena', 'centena'];
                const illones = ['', 'millon', 'billon', 'trillon', 'cuatrillon', 'quintillon', 'sextillon'];
                const base = bases[this.ordenMagnitudReto3 % 3];
                const mil = this.ordenMagnitudReto3 % 6 >= 3;
                const illon = illones[Math.floor(this.ordenMagnitudReto3 / 6)];
                let nombreFinal = "";
                if (this.ordenMagnitudReto3 === 0) {
                    return "Unidad"
                }
                if (this.ordenMagnitudReto3 % 3 != 0) {
                    nombreFinal += base.charAt(0).toUpperCase() + base.slice(1);
                }
                if (mil) {
                    if (this.ordenMagnitudReto3 % 3 != 0) {
                        nombreFinal += " de miles"
                    }
                    else {
                        nombreFinal += "Mil"
                    }
                }
                if (illon) {
                    if (this.ordenMagnitudReto3 % 3 != 0) {//Hay base
                        nombreFinal += " de " + this.palabraToPlural(illon);
                    }
                    else if (!mil) {//No hay ni base ni miles. Es simplemente el illon con upper case en la inicial.
                        nombreFinal += illon.charAt(0).toUpperCase() + illon.slice(1);
                    }
                    else {//es sin base pero con miles.
                        nombreFinal += " " + this.palabraToPlural(illon);
                    }
                }
                let palabras = nombreFinal.split(" ");
                palabras[0] = this.palabraToPlural(palabras[0]);
                nombreFinal = palabras.join(" ");
                return nombreFinal
            }
        }
    })
</script>
