<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.global.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloque.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlace.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadro.js"></script>
    <script src="representacionOrdenMagnitud.js"></script>
    <script src="conjuntoNumericoZoomable.js"></script>

    <link rel="stylesheet" href="estiloOrdenMagnitud.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlaceEstilo.css">

    <title>Sistema decimal - explicación</title>
</head>

<body>
    <div id="doc">
        <p>
            En el sistema decimal, los números se agrupan en conjuntos de diez. Y esos conjuntos también se agrupan en
            conjuntos de diez.
        </p>

        {{zoom1}}
        <input type="number" name="zoom" v-model="zoom1">
        <div id="contenedorNumeroZoomable" @scroll="scroll1">
            <conjunto-numerico-zoomable :numero="numero1" :index="0" :orden="ordenNumero1" :zoom="zoom1">
            </conjunto-numerico-zoomable>
        </div>

        <bloque-component>
            <template #cabecera>
                En este cuadro se puede ver cómo se agrupan los números
            </template>

            <div class="flexVertical">
                <conjunto-numerico :orden="ordenAgrupacion" :numero="numeroAgrupacion" cadena-index="0"
                    :orden-presentado-inicialmente="ordenAgrupacion>0?ordenAgrupacion-1:0"
                    :numero-total="numeroAgrupacion" ref="conjuntoContenedorAgrupacion" :key="numeroAgrupacion"
                    :labels="[ordenAgrupacion]">
                </conjunto-numerico>

                <transition name="fadeIn">
                    <div v-html="textoDescripcionAgrupacion" v-show="mostrarDescripcionAgrupacion">
                    </div>
                </transition>

                <button @click="stepUpAgrupacion"
                    :class="{deshabilitado: animandoAgrupacion || stepAgrupacion>=36}">{{textoBotonAgrupacion}}</button>
            </div>

        </bloque-component>


        <bloque-component tipo="herramientaInteractiva">
            <template #cabecera>
                En este cuadro se pueden ver los conjuntos formados en cualquier número
            </template>

            <recuadro-component tipo="instruccionTeclado">
                <div class="flexVertical">
                    <div>
                        Escribe un número
                    </div>
                    <input type="number" name="inputUnidadesMostradas" min="0" max="9999" ref="inputUnidadesMostradas"
                        @keypress.enter="setUnidadesMostradas">
                    <button class="botonTexto" @click="setUnidadesMostradas">Aceptar</button>

                    <div id="contenedorOpcionesLabels">
                        <div class="opcionLabel" v-for="conjunto of conjuntosNumericosPresentes2">
                            <label :for="'checkbox'+conjunto.orden">{{conjunto.nombre}}</label>

                            <input :id="'checkbox'+conjunto.orden" type="checkbox" v-model="labelsActivas"
                                :value="conjunto.orden">
                        </div>
                    </div>
                </div>
            </recuadro-component>

            <div id="contenedorRepresentacion">
                <conjunto-numerico v-if="unidadesMostradas>0" :numero-total="unidadesMostradas"
                    :numero="unidadesMostradas" :orden="ordenContenedorUnidadesMostradas" :style="[]" :ultimo="true"
                    cadena-index="0" key="unidadesMostradas" :identificador-orden="0" :labels="labelsActivas">
                </conjunto-numerico>
            </div>


        </bloque-component>


    </div>
</body>

</html>


<script>
    const {createApp} = Vue;
    createApp({
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent,
            conjuntoNumerico,
            ConjuntoNumericoZoomable
        },
        data() {
            return {
                numero1: 900,
                zoom1: 100,

                labelsActivas: [],
                unidadesMostradas: 0,

                stepAgrupacion: 0,
                numeroAgrupacion: 1,
                animandoAgrupacion: false,
                mostrarDescripcionAgrupacion: true,
            }
        },
        computed: {
            ordenNumero1() {
                let potenciaPosible = 0;
                while (Math.floor(this.numero1 / Math.pow(10, potenciaPosible)) > 1) {
                    potenciaPosible++
                }
                return potenciaPosible;
            },
            factoresOrdenesMagnitud() {
                let numeroEscrito = String(this.unidadesMostradas);
                let arrayFinal = [];
                for (let i = 0; i < numeroEscrito.length; i++) {
                    arrayFinal.push(parseInt(numeroEscrito.charAt(i)));
                }
                return arrayFinal;
            },
            conjuntosNumericosPresentes2() {
                let arrayFinal = [];
                for (let orden = 1; orden <= this.ordenContenedorUnidadesMostradas; orden++) {
                    console.log(`Construyendo label de orden ${orden}`);
                    arrayFinal.push({nombre: getNombreConjuntoNumericoFromPotencia(orden), orden});
                }
                return arrayFinal;
            },
            ordenContenedorUnidadesMostradas() {
                return getOrdenContenedorNumero(this.unidadesMostradas);
            },
            ordenAgrupacion() {
                return getOrdenContenedorNumero(this.numeroAgrupacion);
            },
            textoBotonAgrupacion() {
                return "Continuar";
            },
            textoDescripcionAgrupacion() {
                const bases = ['unidad', 'decena', 'centena'];
                const illones = ['', 'millon', 'billon', 'trillon', 'cuatrillon', 'quintillon', 'sextillon'];

                const ordenOrigen = Math.floor(this.stepAgrupacion / 2);
                const baseOrigen = bases[ordenOrigen % 3];
                const milOrigen = ordenOrigen % 6 >= 3;
                const illonOrigen = illones[Math.floor(ordenOrigen / 6)];
                const conjuntoOrigen = palabraToPlural(baseOrigen) + (milOrigen ? ' de miles' : '') + (illonOrigen ? ' de ' + palabraToPlural(illonOrigen) : '');
                let conjuntoOrigenSimplificado = "";
                if (ordenOrigen % 3 === 0 && ordenOrigen > 2) { //Es una unidad de algún conjunto grande. Se puede escribir sin la palabra unidad.
                    if (milOrigen) {
                        conjuntoOrigenSimplificado += "Miles"
                    }
                    if (illonOrigen) {
                        if (milOrigen) {
                            conjuntoOrigenSimplificado += " de " + palabraToPlural(illonOrigen);
                        }
                        else {
                            conjuntoOrigenSimplificado += palabraToPlural(illonOrigen);
                            conjuntoOrigenSimplificado = conjuntoOrigenSimplificado.charAt(0).toUpperCase() + conjuntoOrigenSimplificado.slice(1);
                        }
                    }
                }

                const ordenDestino = ordenOrigen + 1;
                const baseDestino = bases[ordenDestino % 3];
                const milDestino = ordenDestino % 6 >= 3;
                const illonDestino = illones[Math.floor(ordenDestino / 6)];
                const conjuntoDestino = baseDestino + (milDestino ? ' de miles' : '') + (illonDestino ? ' de ' + palabraToPlural(illonDestino) : '');
                let conjuntoDestinoSimplificado = "";
                if (ordenDestino % 3 === 0 && ordenDestino > 2) {//Es una unidad de un conjunto grande. Puede ser escrito sin la palabra unidad.
                    if (milDestino) {
                        conjuntoDestinoSimplificado += "Mil"
                    }
                    if (illonDestino) {
                        if (milDestino) {
                            conjuntoDestinoSimplificado += " " + palabraToPlural(illonDestino);
                        }
                        else {
                            conjuntoDestinoSimplificado = "Un " + illonDestino;
                        }
                    }
                }

                if (this.stepAgrupacion === 0) {
                    return "Esta es una unidad"
                }
                if (this.stepAgrupacion % 2 === 0) {
                    return ""
                }
                let textoFinal = `A diez ${conjuntoOrigenSimplificado.length > 0 ? conjuntoOrigenSimplificado : conjuntoOrigen} se las llama <span class="resaltado"> una ${conjuntoDestino}</span>`;
                if (conjuntoDestinoSimplificado) {
                    textoFinal += " o simplemente <span class='resaltado'>" + conjuntoDestinoSimplificado + "</span>";
                }
                return textoFinal

            },

        },
        methods: {
            scroll1(){
                console.log(`Scroll en el contenedor 1`);
            },
            stepUpAgrupacion() {
                if (this.stepAgrupacion >= 36) {
                    console.log(`Step máximo alcanzado`);
                    return;
                }
                if (this.animandoAgrupacion) {
                    console.log(`Error: en animación`);
                    return;
                }
                this.stepAgrupacion++;
            },
            setUnidadesMostradas() {
                let nuevoValor = Number(this.$refs.inputUnidadesMostradas.value);
                if (!nuevoValor) {
                    console.log(`No había nuevoValor`);
                    return;
                }
                if (nuevoValor < 0 || nuevoValor > 9999) {
                    alert("Ese número es inválido");
                    return;
                }
                this.unidadesMostradas = nuevoValor;
            }
        },
        watch: {
            stepAgrupacion(valor) {
                if (valor > 0) {
                    if (valor % 2 === 0) {//En los pares se pliegan los conjuntos
                        this.$refs.conjuntoContenedorAgrupacion.doblar();
                        this.mostrarDescripcionAgrupacion = false;
                    }
                    else {//En los impares, se aumenta a 10 la cantidad del conjunto actualmente mostrado.
                        let base = this.numeroAgrupacion;
                        let intervalo = 500;
                        this.animandoAgrupacion = true;
                        console.log(`Animando agrupacion usando ${base}`);
                        for (let i = 1; i < 10; i++) {
                            setTimeout(() => {
                                this.numeroAgrupacion += base;
                            }, intervalo * i);
                        }
                        setTimeout(() => {
                            this.animandoAgrupacion = false;
                            this.mostrarDescripcionAgrupacion = true;
                        }, 10 * intervalo);
                    }
                }
            }
        }
    }).mount("#doc")
    function getOrdenContenedorNumero(numero) {
        const ordenInicial = 0;
        let ordenPosible = ordenInicial;

        while (ordenPosible < 36) {
            if (Math.pow(10, ordenPosible) >= numero) {
                return ordenPosible
            }
            ordenPosible++;
        }
        console.log(`Error: el orden posible se pasó de 36`);
        return 0;

    }
    function palabraToPlural(palabra) {
        let vocales = ["a", "e", "i", "o", "u"];
        if (vocales.includes(palabra.charAt(palabra.length - 1))) {
            return palabra + "s";
        }
        if (palabra.charAt(palabra.length - 1) === "z") {
            palabra = palabra.slice(palabra.length - 1) + "c";
        }
        return palabra + "es"
    }
</script>


<style>
    #contenedorRepresentacion {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        padding: 20px;
        margin-top: 50px;
    }

    #contenedorOpcionesLabels {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #contenedorNumeroZoomable {
        width: min(1000px, 98vw);
        height: min(1000px, 98vw);
        overflow: scroll;
        margin: 10px auto;
    }
</style>
