<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="http://192.168.1.105:3000/public/resources/libraries/vue.js"></script>

    <script src="http://192.168.1.105:3000/public/atlasConocimiento/recursos/components/bloque.js"></script>
    <script src="http://192.168.1.105:3000/public/atlasConocimiento/recursos/components/enlace.js"></script>
    <script src="http://192.168.1.105:3000/public/atlasConocimiento/recursos/components/recuadro.js"></script>

    <link rel="stylesheet"
        href="http://192.168.1.105:3000/public/atlasConocimiento/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet" href="http://192.168.1.105:3000/public/atlasConocimiento/recursos/estilos/estilosMats.css">
    <link rel="stylesheet"
        href="http://192.168.1.105:3000/public/atlasConocimiento/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="http://192.168.1.105:3000/public/atlasConocimiento/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="http://192.168.1.105:3000/public/atlasConocimiento/recursos/components/enlaceEstilo.css">


    <title>Cancelación de operaciones</title>

</head>

<body>
    <div id="doc">
        <recuadro-component tipo="datoPrevio">
            Las operaciones aritméticas son operaciones que se aplican sobre algún numero.
        </recuadro-component>

        <recuadro-component tipo="datoPrevio">
            Cuando una operación aritmética es aplicada en algún número, <span class="resaltado">causa un efecto</span>
            sobre ese número transformándolo.
        </recuadro-component>

        <bloque-component tipo="ejemplo" @desplegado="reiniciarEjemplo1" @plegado="reiniciarEjemplo1">
            <template #cabecera>
                En este cuadro se ven ejemplos de efectos causados por algunas operaciones aritméticas.
            </template>

            <div class="listaEjemplos">
                <div class="itemEjemplo anchoMediano">
                    <recuadro-component tipo="datoPrevio">
                        Se {{ejemplo1Modificador1===1?'tiene':'tenía'}} un {{ejemplo1Numero1}}
                    </recuadro-component>
                    <transition-group name="fade">
                        <div class="numeroEnBolitas" v-for="rep of ejemplo1Modificador1"
                            :key="'ejemplo1Numero1Repeticion'+rep">
                            <div class="bolitaNumero" v-for="numero of ejemplo1Numero1" :key="'ejemplo1Numero'+numero">

                            </div>
                        </div>
                    </transition-group>

                    <div class="boton" @click="ejemplo1Numero1Aplicar"
                        :class="{deshabilitado: ejemplo1Modificador1!=1}">
                        Aplicar una multiplicación por 3</div>

                    <transition name="fade">
                        <div v-show="ejemplo1MostrandoExplicacion1">

                            <recuadro-component tipo="datoNuevo">
                                El número {{ejemplo1Numero1}} se repitió y ahora se tiene un
                                {{ejemplo1Numero1*ejemplo1Modificador1}}.
                            </recuadro-component>

                            <div class="boton" @click="ejemplo1Modificador1=1; ejemplo1MostrandoExplicacion1=false">
                                Reiniciar
                            </div>
                        </div>
                    </transition>
                </div>

                <div class="itemEjemplo anchoMediano">

                    <recuadro-component tipo="datoPrevio">
                        Se {{ejemplo1Modificador2==0?'tiene':'tenía'}} un {{ejemplo1Numero2}}
                    </recuadro-component>

                    <div class="numeroEnBolitas">
                        <transition-group class="contenedorTransicion" tag="div" name="travelRight">
                            <div class="bolitaNumero" v-for="numero of ejemplo1Numero2-ejemplo1Modificador2"
                                :key="'ejemplo1Numero2'+numero">

                            </div>
                        </transition-group>
                    </div>

                    <div class="boton" @click="ejemplo1Numero2Aplicar"
                        :class="{deshabilitado: ejemplo1Modificador2!=0}">
                        Aplicar una resta de 6</div>



                    <transition name="fade">
                        <div v-show="ejemplo1MostrandoExplicacion2">

                            <recuadro-component tipo="datoNuevo">
                                Hubo un efecto de <span class="resaltado">sustracción</span> en el número
                                {{ejemplo1Numero2}} y ahora se tiene un
                                {{ejemplo1Numero2-ejemplo1Modificador2}}.
                            </recuadro-component>

                            <div class="boton" @click="ejemplo1Modificador2=0; ejemplo1MostrandoExplicacion2=false">
                                Reiniciar
                            </div>
                        </div>
                    </transition>
                </div>

                <div class="itemEjemplo anchoMediano" style="position: relative" ref="ejemplo1Numero3Contenedor">

                    <recuadro-component tipo="datoPrevio">
                        Se {{ejemplo1Modificador3==0?'tiene':'tenía'}} un {{ejemplo1Numero3}}
                    </recuadro-component>

                    <transition-group class="contenedorTransicion" tag="div" name="travelRight">
                        <div class="bolitaNumero bolitaViajera"
                            :style=" [ ejemplo1Numero3PosicionBolita[numero-1] || {top:'0px', left:'0px'} ]"
                            :class="{transicionRapida: ejemplo1Numero3ModificadorCajas>0, transicionLenta: ejemplo1Numero3ModificadorCajas===1 && ejemplo1Modificador3 >= 12}" ref="ejemplo1Numero3Bolitas"
                            v-for="numero of ejemplo1Numero3" :key="'ejemplo1Numero3'+numero">

                        </div>
                    </transition-group>
                    <div class="numeroEnBolitas cajitaOriginal" ref="cajitaOriginal">

                        <div class="bolitaNumero bolitaReferencia" v-for="index of ejemplo1Numero3"
                            :key="'bolitaRef'+index">

                        </div>
                    </div>



                    <div class="boton" @click="ejemplo1Numero3Aplicar"
                        :class="{deshabilitado: ejemplo1Modificador3!=0}">
                        Aplicar una division entre 3</div>

                    <div class="contenedorCajitasDivision" ref="ejemplo1Numero3ContenedorCajitas">
                        <transition-group name="travelTop">
                            <div class="cajitaDivision" v-for="cajita of ejemplo1Numero3ModificadorCajas"
                                ref="ejemplo1Numero3Cajitas" :key="'ejemplo1Numero3cajita'+cajita">
                                <div class="bolitaNumero bolitaReferencia"
                                    v-for="index of ejemplo1Numero3/ejemplo1Magnitud3" :key="'bolitaRef' + index">



                                </div>



                            </div>
                        </transition-group>
                    </div>

                    <transition name="fade">
                        <div v-show="ejemplo1MostrandoExplicacion3">

                            <recuadro-component tipo="datoNuevo">
                                Hubo un efecto de <span class="resaltado">división</span> en el número
                                {{ejemplo1Numero3}} y ahora se tiene un
                                {{ejemplo1Numero3/ejemplo1Magnitud3}}.
                            </recuadro-component>

                            <div class="boton" @click="reiniciarEjemplo1Numero3">
                                Reiniciar
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </bloque-component>

        <recuadro-component tipo="datoPrevio">
            Si dos operaciones aritméticas causan efectos contrarios cuando son aplicadas se dice que son <span
                class="resaltado">operaciones aritméticas opuestas</span>.
        </recuadro-component>

        <bloque-component tipo="ejemplo">
            <template #cabecera>
                En este cuadro se muestran algunos ejemplos de operaciones aritméticas opuestas.
            </template>

            <div class="listaEjemplos">
                <div class="itemEjemplo">
                    <recuadro-component tipo="datoPrevio">
                        La suma causa un efecto de adición. Es una operación que <span class="resaltado">pone</span>.
                    </recuadro-component>
                    
                    <recuadro-component tipo="datoPrevio">
                        La resta causa un efecto de sustracción. Es una operación que <span class="resaltado">quita</span>.
                    </recuadro-component>
                    <recuadro-component tipo="datoNuevo">
                       !Son operaciones opuestas! 
                    </recuadro-component>
                </div>
                <div class="itemEjemplo">
                    <recuadro-component tipo="datoPrevio">
                        La multiplicación causa un efecto de repetición. Es una operación que <span class="resaltado">repite</span>.
                    </recuadro-component>
                    
                    <recuadro-component tipo="datoPrevio">
                        La división causa un efecto de repartición. Es una operación que <span class="resaltado">reparte</span>.
                    </recuadro-component>
                    <recuadro-component tipo="datoNuevo">
                       !Son operaciones opuestas! 
                    </recuadro-component>
                </div>
                <div class="itemEjemplo">
                    <recuadro-component tipo="datoPrevio">
                        La potenciación causa un efecto de repetición sucesiva. Es una operación que <span class="resaltado">repite repetidamente</span>.
                    </recuadro-component>
                    
                    <recuadro-component tipo="datoPrevio">
                        La división causa un efecto de repartición sucesiva. Es una operación que <span class="resaltado">reparte repetidamente</span>.
                    </recuadro-component>
                    <recuadro-component tipo="datoNuevo">
                       !Son operaciones opuestas! 
                    </recuadro-component>
                </div>
                
            </div>
        </bloque-component>

        <recuadro-component tipo="datoPrevio">
            Si se aplica sobre un número cierta

        </recuadro-component>

        <bloque-component tipo="ejemplo"
            textoCabecera="En este cuadro se ven ejemplos de algunas operaciones aritméticas opuestas.">

            <div class="listaEjemplos">
                <div class="itemEjemplo itemEjemplo1" style="width: 300px;">
                    <div class="numeroBolitas">
                        <transition-group name="travelRight">
                            <div class="bolita" v-for="num of numEjemplo1" :key="'bolitaEjemplo1'+num"></div>
                        </transition-group>
                    </div>

                    <div class="boton" :class="{deshabilitado: numEjemplo1!=4}" @click="numEjemplo1+=3">
                        Sumar 3
                    </div>

                    <div class="boton" :class="{deshabilitado: numEjemplo1!=7}" @click="numEjemplo1-=3">
                        Restar 3
                    </div>
                </div>

                <div class="itemEjemplo itemEjemplo1" style="width: 300px;">
                    <div class="numeroBolitas">
                        <transition-group name="travelRight">
                            <div class="bolita" v-for="num of numEjemplo2" :key="'bolitaEjemplo1'+num"></div>
                        </transition-group>
                    </div>

                    <div class="boton" :class="{deshabilitado: numEjemplo2!=6}" @click="numEjemplo2-=1">
                        Restar 1
                    </div>

                    <div class="boton" :class="{deshabilitado: numEjemplo2!=5}" @click="numEjemplo2+=1">
                        Sumar 1
                    </div>
                </div>
            </div>
        </bloque-component>

    </div>
</body>

</html>

<script>
    const doc = new Vue({
        el: "#doc",
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        data() {
            return {
                ejemplo1Numero1: 5,
                ejemplo1Modificador1: 1,
                ejemplo1Magnitud1: 3,
                ejemplo1MostrandoExplicacion1: false,

                ejemplo1Numero2: 15,
                ejemplo1Modificador2: 0,
                ejemplo1Magnitud2: 6,
                ejemplo1MostrandoExplicacion2: false,


                ejemplo1Numero3: 12,
                ejemplo1Modificador3: 0,
                ejemplo1Numero3ModificadorCajas: 0,
                ejemplo1Magnitud3: 3,
                ejemplo1MostrandoExplicacion3: false,
                ejemplo1Numero3PosicionBolita: new Array(12),
                ejemplo1Numero3RepartoTerminado: false,
                ejemplo1Numero3AnimationSpeedBolitas: 0.2,

                ejemplo1Numero4: 18,

                ejemplo1Numero5: 17,

                ejemplo1Numero6: 2,


                numEjemplo1: 4,
                numEjemplo2: 6,

            }
        },
        methods: {
            reiniciarEjemplo1() {
                this.ejemplo1Modificador1 = 1;
                this.ejemplo1MostrandoExplicacion1 = false;

                this.ejemplo1Modificador2 = 0;
                this.ejemplo1MostrandoExplicacion2 = false;

                this.reiniciarEjemplo1Numero3();

            },
            reiniciarEjemplo1Numero3() {
                this.ejemplo1Modificador3 = 0;
                this.ejemplo1Numero3ModificadorCajas = 0;
                this.ejemplo1MostrandoExplicacion3 = false;
                this.ejemplo1Numero3PosicionBolita = [];
                this.ejemplo1Numero3RepartoTerminado = false;
                this.$nextTick(() => {
                    this.ejemplo1Numero3PosicionarBolitas();
                })
            },
            ejemplo1Numero1Aplicar() {

                if (this.ejemplo1Modificador1 >= this.ejemplo1Magnitud1) {
                    return;
                }
                this.ejemplo1Modificador1++;

                if (this.ejemplo1Modificador1 < this.ejemplo1Magnitud1) {
                    setTimeout(() => {
                        this.ejemplo1Numero1Aplicar();
                    }, 300);
                }
            },
            ejemplo1Numero2Aplicar() {
                if (this.ejemplo1Modificador2 >= this.ejemplo1Magnitud2) {
                    return
                }

                console.log("aumentando reductor");
                this.ejemplo1Modificador2++;

                if (this.ejemplo1Modificador2 < this.ejemplo1Magnitud2) {
                    setTimeout(() => {
                        this.ejemplo1Numero2Aplicar();
                    }, 300)
                }
            },
            ejemplo1Numero3Aplicar() {
                if (this.ejemplo1Modificador3 > this.ejemplo1Numero3) {
                    return
                }

                if (this.ejemplo1Numero3ModificadorCajas < this.ejemplo1Magnitud3) {
                    this.ejemplo1Numero3ModificadorCajas++;
                }
                else {
                    this.ejemplo1Modificador3++;
                    console.log(`Modificador 3 queda en ${this.ejemplo1Modificador3}`);
                    this.ejemplo1Numero3PosicionarBolitas();
                }


                let intervalo = 400;
                if (this.ejemplo1Numero3ModificadorCajas == this.ejemplo1Magnitud3 && this.ejemplo1Modificador3 == 0) {
                    intervalo = 900;
                }
                if (this.ejemplo1Modificador3 > 0 && this.ejemplo1Modificador3 % this.ejemplo1Magnitud3 == 0) {
                    intervalo = 900;
                }

                if (this.ejemplo1Modificador3 <= this.ejemplo1Numero3) {
                    setTimeout(() => {
                        this.ejemplo1Numero3Aplicar();
                    }, intervalo)
                }
                else {
                    this.ejemplo1Numero3ModificadorCajas = 1;
                    this.$nextTick(() => {
                        this.ejemplo1Numero3PosicionarBolitas();
                    })
                }
            },
            ejemplo1Numero3PosicionarBolitas() {
                console.log("Posicionando bolitas del ejemplo 3 del cuadro 1");

                for (var num = 0; num < this.ejemplo1Numero3; num++) {

                    let contenedor = this.$refs.ejemplo1Numero3Contenedor;

                    let cajita = this.$refs.cajitaOriginal;
                    let turnoEnCajita = num;

                    if (this.ejemplo1Modificador3 > num) {
                        let numCajita = this.ejemplo1Numero3RepartoTerminado ? 0 : num % this.ejemplo1Magnitud3;
                        turnoEnCajita = Math.floor(num / this.ejemplo1Magnitud3);
                        let lastCajitaDisponible = this.$refs.ejemplo1Numero3Cajitas.length - 1;
                        if (numCajita > lastCajitaDisponible) {
                            numCajita = lastCajitaDisponible;
                        }
                        cajita = this.$refs.ejemplo1Numero3Cajitas[numCajita];
                    }
                    else {
                        console.log("En cajita original");
                    }

                    console.log("En turno ", turnoEnCajita);

                    let bolitaReferencia = cajita.querySelectorAll(".bolitaReferencia")[turnoEnCajita];

                    let posBolitaReferencia = {
                        x: bolitaReferencia.offsetLeft - contenedor.offsetLeft,
                        y: bolitaReferencia.offsetTop - contenedor.offsetTop
                    }


                    // 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, ,10, 11
                    // 0, 1, 2, 0, 1, 2, 0, 1, 2, 0,  1,  2
                    // 0, 0, 0, 1, 1, 1, 2, 2, 2, 3,  3,  3

                    this.$set(this.ejemplo1Numero3PosicionBolita, num, {
                        left: bolitaReferencia.offsetLeft + 'px',
                        top: bolitaReferencia.offsetTop + 'px',
                    })
                }

            }
        },
        watch: {
            ejemplo1Modificador1(val, prev) {
                if (val == this.ejemplo1Magnitud1) {
                    setTimeout(() => {
                        this.ejemplo1MostrandoExplicacion1 = true;
                    }, 1000)
                }
            },
            ejemplo1Modificador2(val, prev) {
                if (val == this.ejemplo1Magnitud2) {
                    setTimeout(() => {
                        this.ejemplo1MostrandoExplicacion2 = true;
                    }, 1000)
                }
            },
            ejemplo1Modificador3(val, prev) {
                if (val == this.ejemplo1Numero3) {
                    setTimeout(() => {
                        this.ejemplo1MostrandoExplicacion3 = true;
                    }, 1000)
                }
            }

        },

    })
</script>
<style>
    .notacion {
        font-size: 18px;
        padding: 2px 3px;
        background-color: cadetblue;
        display: inline-block;
        border-radius: 2px;
    }

    li {
        margin-bottom: 10px;
    }

    #imagenConjuntos {
        max-width: 90vw;
        margin: 10px auto;
        display: block;
    }


    .numeroBolitas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .numeroBolitas span {
        display: flex;
        flex-wrap: wrap;

    }

    .bolita {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 10px 5px;
        background-color: brown;
    }

    .fade-before-enter {
        opacity: 0;
    }

    .cajitaDivision {
        min-width: 50px;
        min-height: 50px;
        margin: 10px 10px;
        border: 1px solid black;
        background-color: rgba(0, 0, 0, 0.123);
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .bolitaNumero.bolitaViajera {
        position: absolute;
    }

    .bolitaNumero.bolitaViajera.transicionRapida {
        transition: top 1s, left 1s;
    }

    .bolitaNumero.bolitaViajera.transicionLenta {
        transition: top 1s, left 1s;
        transition-timing-function: linear;
    }

    .bolitaNumero.bolitaReferencia {
        opacity: 0;
    }
</style>