<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://192.168.1.100:3000/public/resources/libraries/vue.js"></script>

    <script src="http://192.168.1.100:3000/public/atlasConocimiento/components/bloque.js"></script>
    <script src="http://192.168.1.100:3000/public/atlasConocimiento/components/enlace.js"></script>
    <script src="http://192.168.1.100:3000/public/atlasConocimiento/components/recuadro.js"></script>

    <link rel="stylesheet" href="http://192.168.1.100:3000/public/atlasConocimiento/estilos/estilosGenerales.css">
    <link rel="stylesheet" href="http://192.168.1.100:3000/public/atlasConocimiento/components/recuadroEstilo.css">
    <link rel="stylesheet" href="http://192.168.1.100:3000/public/atlasConocimiento/components/bloqueEstilo.css">
    <link rel="stylesheet" href="http://192.168.1.100:3000/public/atlasConocimiento/components/enlaceEstilo.css">

    <title>El resto de una división</title>
</head>

<body>
    <div id="doc">
        <recuadro-component tipo="datoPrevio">
            Las divisiones que se pueden realizar repartiendo todas las unidades (Bolitas) son llamadas
            divisiones enteras o divisiones exactas.
        </recuadro-component>

        <recuadro-component tipo="datoPrevio">
            Cuando no se puede seguir repartiendo unidades debido a que ya no hay suficientes unidades,
            se dice que la división no es exacta. Las unidades que no se pudieron repartir son llamadas <span
                class="resaltado">resto</span> o
            <span class="resaltado">residuo</span>.
        </recuadro-component>

        <bloque-component tipo="ejemplo" @plegado="reiniciar">
            <template #cabecera>
                En este cuadro se muestra una división en la que sobran algunas unidades.
            </template>

            <div class="zonaInteraccion" ref="zonaInteraccion" style="position: relative;">

                <div class="zonaNumero">
                    <div ref="bolitas" class="bolitaNumero" v-for="bolita of numerador" :key="'bolita'+bolita">

                    </div>
                </div>

                <div class="boton" @click="instanciaReparticion++" :class="{deshabilitado:reparticionTerminada}">
                    Repartir
                </div>
                <div class="zonaCajas" ref="zonaCajas">
                    <div class="caja" ref="cajitas" v-for="num of denominador" :key="'caja'+num"></div>
                </div>
            </div>

            <transition name="travelTop">
                <recuadro-component tipo="datoNuevo" v-show="reparticionTerminada">
                    ¡No se puede seguir repartiendo parejo!
                </recuadro-component>
            </transition>

            <div class="boton" @click="mostrarConclusion=true" v-show="reparticionTerminada">
                ¿Y cuál es el resultado?
            </div>

            <transition name="travelTop">
                <recuadro-component tipo="datoNuevo" v-show="mostrarConclusion" style="text-align: center;">
                    ¡El resultado de la división es 3! <br>
                    ¡Y el residuo es 2!

                </recuadro-component>
            </transition>

          



        </bloque-component>
    </div>
</body>

</html>

<script>
    const doc = new Vue({
        el: "#doc",
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        data() {
            return {
                instanciaReparticion: 0,
                numerador: 14,
                denominador: 4,

                gapBolitas: 10,

                mostrarConclusion:false,
            }
        },
        computed: {
            reparticionTerminada() {
                return (this.numerador - (this.instanciaReparticion * this.denominador)) < this.denominador
            },

        },
        methods:{
            reiniciar(){
                this.mostrarConclusion=false;
                this.instanciaReparticion=0;
            }
        },
        watch: {
            instanciaReparticion(instancia) {
                const bolitaMax = this.denominador * instancia;



                for (var i = 0; i < bolitaMax; i++) {
                    const numCajita = i % this.denominador;
                    const posicion = Math.floor(i / this.denominador);

                    console.log(`La bolita ${i} va en la cajita ${numCajita} en la posición ${posicion}.`);

                    const posCajita = this.$refs.cajitas[numCajita].getBoundingClientRect();
                    const posZonaInteraccion = this.$refs.zonaInteraccion.getBoundingClientRect();
                    const leftCajita = posCajita.left - posZonaInteraccion.left;
                    const topCajita = posCajita.top - posZonaInteraccion.top;

                    console.log(`La cajita está en ${leftCajita}, ${topCajita}`);

                    const widthBolita = this.$refs.bolitas[i].offsetWidth;
                    const widthAmpliadoBolita = widthBolita + this.gapBolitas;

                    const capacidadFila = Math.floor(posCajita.width / widthAmpliadoBolita);
                    console.log(`En cada fila caben ${capacidadFila} bolitas`);

                    const fila = Math.floor(posicion / capacidadFila);

                    const nuevoLeft = leftCajita + ((posicion % capacidadFila) * widthAmpliadoBolita);
                    const nuevoTop = topCajita + (fila * widthAmpliadoBolita);

                    console.log(`Enviando a ${nuevoLeft}, ${nuevoTop}`);

                    this.$refs.bolitas[i].style.position = "absolute";
                    this.$refs.bolitas[i].style.left = nuevoLeft + 'px';
                    this.$refs.bolitas[i].style.top = nuevoTop + 'px';

                }
            }
        }

    })
</script>

<style>
    .zonaCajas {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .caja {
        border: 2px solid red;
        width: 100px;
        height: 100px;
    }

    .zonaNumero {
        margin-bottom: 50px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bolitaNumero {
        transition: left 0.5s, top 0.3s;
    }
</style>