.componenteTriangulo {
    position: relative;
}

.componenteTriangulo.conCentro::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px dashed gray;
}

.componenteTriangulo .label {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 3px 5px;
    z-index: 1;
}

.componenteCirculo .label span {
    display: flex;
}

.componenteTriangulo .label.explicitable:hover,
.componenteTriangulo .label.explicitado:hover {
    background-color: var(--paletaActual);
    color: white;
    border-radius: 2px;
    z-index: 2;
}

.componenteTriangulo .label .visibleHovered {
    display: none;
}

.componenteTriangulo .label.explicitado .visibleHovered {
    display: block;
}

.componenteTriangulo .label.explicitable:hover .visibleHovered {
    display: block;
}

.componenteTriangulo .labelLargo {
    top: 50%;
    left: calc(50% + 20px);
    transform: translate(-50%, -50%);
}

.componenteTriangulo .labelAncho {
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.componenteTriangulo .lado {
    height: 1px;
    background-color: black;
    transform-origin: center left;
    top: 100%;
    position: absolute;
}

.componenteTriangulo .ladoBase {
    width: 100%
}

.componenteTriangulo .lado2 {
    left: 100%;
}

.componenteTriangulo .representacionLargo {
    border-right: 1px dashed black;
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0px;
}

.componenteTriangulo .relleno {
    background-color: gray;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}
