<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://juanmamian.github.io/recursos/librerias/vue.global.js"></script>

    <script
        src="https://juanmamian.github.io/recursos/components/bloque.js"></script>
    <script
        src="https://juanmamian.github.io/recursos/components/enlace.js"></script>
    <script
        src="https://juanmamian.github.io/recursos/components/recuadro.js"></script>

    <link rel="stylesheet"
        href="https://juanmamian.github.io/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet"
        href="https://juanmamian.github.io/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="https://juanmamian.github.io/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="https://juanmamian.github.io/recursos/components/enlaceEstilo.css">



    <title>Evaluación - Razón matemática</title>
</head>

<body>
    <div id="doc">
        Comprendo el concepto de razón matemática si:

        <bloque-component tipo='evaluacion'>
            <template #cabecera>
                Dada una razón matemática entre dos números, entiendo su significado.
            </template>

            <div class="flexVertical">
                <recuadro-component tipo='instruccionTeclado'>
                    <div class="flexVertical">
                        Selecciona la dificultad
                        <input type="range" min="1" max="3" v-model.number="e1Dificultad">
                        {{e1Dificultad}}
                    </div>
                </recuadro-component>


                <button class="boton" @click="e1GenerarReto">
                    Generar reto
                </button>

                <transition name="fadeIn">
                    <recuadro-component :key="e1VersionReto" v-if="e1Reto" tipo="datoPrevio">
                        {{e1Reto.texto}}
                    </recuadro-component>
                </transition>
            </div>

        </bloque-component>


        <bloque-component tipo="evaluacion"
            textoCabecera="Dadas dos cantidades, puedo determinar la razón matemática entre ellas.">

            <div class="flexVertical">
                <recuadro-component tipo='instruccionPointer'>
                    <div class="flexVertical">
                        Selecciona la dificultad
                        <input type="range" v-model.number="e2Dificultad" min="1" max="3">
                        {{e2Dificultad}}
                    </div>
                </recuadro-component>

                <button class="boton" @click="e2GenerarReto">
                    Generar dos números
                </button>

                <div class="zonaReto" v-if="e2Reto" :key="e2VersionReto">
                    <div class="contenedorNumeros">
                        <transition name="popIn" appear>
                            <div class="numero numero1">
                                {{e2Reto.numero1}}
                            </div>
                        </transition>
                        <transition name="popIn" appear>
                            <div class="numero numero2">
                                {{e2Reto.numero2}}
                            </div>
                        </transition>
                    </div>
                </div>

                <recuadro-component tipo='instruccionTeclado' v-if="e2Reto">
                    <div class="flexVertical">
                        Escribe la razón entre los números
                        <input type="number" ref="e2InputRespuestaUsuario"
                            @keypress.enter="e2EvaluarRespuestaUsuario(undefined, true)">
                        <button class="boton" @click="e2EvaluarRespuestaUsuario(undefined, true)">
                            Aceptar
                        </button>
                    </div>
                </recuadro-component>

                <transition name="fadeIn" @enter="scrollToElemento">
                    <recuadro-component tipo="infoResultado" v-if="e2RespuestaUsuarioCorrecta!=null"
                        :modo="e2RespuestaUsuarioCorrecta?'correcto':'incorrecto'" :key="e2VersionRespuestaUsuario">
                    </recuadro-component>
                </transition>


            </div>
        </bloque-component>

        <bloque-component tipo='evaluacion'>
            <template #cabecera>
                Dada un número y conocida su razón matemática con otro, puedo descubrir el número faltante.
            </template>
            <div class="flexVertical">
                <button class="boton" @click="e3GenerarReto">
                    Generar reto
                </button>

                <div class="zonaReto flexVertical" v-if="e3Reto" :key="e3VersionReto">
                    <div class="contenedorNumeros">
                        <transition name="popIn" appear>
                            <div class="numero numero1">
                                {{e3Reto.numeroOculto===1 && e3RespuestaUsuarioCorrecta!=true?'?':e3Reto.numero1}}
                            </div>
                        </transition>
                        <transition name="popIn" appear>
                            <div class="numero numero2">
                                {{e3Reto.numeroOculto===2 && e3RespuestaUsuarioCorrecta!=true?'?':e3Reto.numero2}}
                            </div>
                        </transition>
                    </div>
                    <recuadro-component tipo='datoPrevio' style="text-align: center">
                        La razón entre estos dos números es {{e3Reto.razon}}
                    </recuadro-component>

                </div>

                <recuadro-component tipo='instruccionTeclado' v-if="e3Reto">
                    <div class="flexVertical">
                        Escribe el número faltante
                        <input type="number" ref="e3InputRespuestaUsuario"
                            @keypress.enter="e3EvaluarRespuestaUsuario(undefined, true)">
                        <button class="boton" @click="e3EvaluarRespuestaUsuario(undefined, true)">
                            Aceptar
                        </button>
                    </div>
                </recuadro-component>

                <transition name="fadeIn" @enter="scrollToElemento">
                    <recuadro-component tipo="infoResultado" v-if="e3RespuestaUsuarioCorrecta!=null"
                        :modo="e3RespuestaUsuarioCorrecta?'correcto':'incorrecto'" :key="e3VersionRespuestaUsuario">
                    </recuadro-component>
                </transition>

            </div>

        </bloque-component>

    </div>
</body>

</html>

<script type="module">
    import {useUtils} from "https://juanmamian.github.io/recursos/composables/utils.js"
    import {useEvaluacionNodo} from "https://juanmamian.github.io/recursos/composables/evaluacionNodo.js"
    const {createApp, ref, computed, nextTick} = Vue;
    createApp({
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        setup() {
            const {scrollToElemento} = useUtils();
            function e1AddToGenerarReto() {
                e1Reto.value = {};
                const minRazon = 2;
                let maxRazon = 20;
                let resolucion = 1;
                if (e1Dificultad.value === 2) {
                    resolucion = 0.1;
                }
                if (e1Dificultad.value === 3) {
                    resolucion = 0.05;
                    maxRazon = 40;
                }
                const rangoRazon = maxRazon - minRazon;

                console.log(`Resolución: ${resolucion}`);
                const razon = Number((Math.round(Math.random() * rangoRazon + minRazon) * resolucion).toFixed(2));
                console.log(`razon: ${razon}`);

                const minNumero = 2;
                const maxNumero = 20;
                const rangoNumero = maxNumero - minNumero;

                e1Reto.value.numero2 = Math.round(Math.random() * rangoNumero + minNumero);
                e1Reto.value.numero1 = Number((e1Reto.value.numero2 * razon).toFixed(2));
                e1Reto.value.texto = 'La razón entre ' + e1Reto.value.numero1 + ' y ' + e1Reto.value.numero2 + ' es ' + razon;
            }

            const {versionReto: e1VersionReto, dificultad: e1Dificultad, reto: e1Reto, reiniciarReto: e1ReiniciarReto, generarReto: e1GenerarReto, respuesta: e1Respuesta, respuestaUsuarioCorrecta: e1RespuestaUsuarioCorrecta, versionRespuestaUsuario: e1VersionRespuestaUsuario, inputRespuestaUsuario: e1InputRespuestaUsuario, evaluarRespuestaUsuario: e1EvaluarRespuestaUsuario} = useEvaluacionNodo(e1AddToGenerarReto);


            function e2AddToGenerarReto() {
                e2Reto.value = {};
                const minNumero = 2;
                const maxNumero = 50;
                const rangoNumero = maxNumero - minNumero;
                e2Reto.value.numero2 = Math.round(Math.random() * rangoNumero) + minNumero;

                let minFactor = 2;
                let resolucion = 1;
                let maxFactor = 20;

                if (e2Dificultad.value === 2) {
                    resolucion = 0.1;
                    maxFactor = 20;
                }
                if (e2Dificultad.value === 3) {
                    resolucion = 0.5;
                    maxFactor = 40;
                }
                const rangoFactor = maxFactor - minFactor;

                const factor = Number((Math.round((Math.random() * rangoFactor + minFactor)) * resolucion).toFixed(2));
                e2Reto.value.numero1 = Number((e2Reto.value.numero2 * factor).toFixed(2));
                console.log(`Número pequeño: ${e2Reto.value.numero2}`);
                console.log(`Factor: ${factor}`);
                e2Respuesta.value = factor;



            }

            const {dificultad: e2Dificultad, versionReto: e2VersionReto, reto: e2Reto, reiniciarReto: e2ReiniciarReto, generarReto: e2GenerarReto, respuesta: e2Respuesta, respuestaUsuarioCorrecta: e2RespuestaUsuarioCorrecta, versionRespuestaUsuario: e2VersionRespuestaUsuario, inputRespuestaUsuario: e2InputRespuestaUsuario, evaluarRespuestaUsuario: e2EvaluarRespuestaUsuario} = useEvaluacionNodo(e2AddToGenerarReto);


            function e3AddToGenerarReto() {
                e3Reto.value = {};
                const minNumero = 2;
                const maxNumero = 50;
                const rangoNumero = maxNumero - minNumero;
                e3Reto.value.numero2 = Math.round(Math.random() * rangoNumero) + minNumero;

                const minFactor = 2;
                const resolucion = 0.5;
                const maxFactor = 40;

                const rangoFactor = maxFactor - minFactor;

                const factor = Number((Math.round((Math.random() * rangoFactor + minFactor)) * resolucion).toFixed(2));
                e3Reto.value.razon = factor;
                e3Reto.value.numero1 = Number((e3Reto.value.numero2 * factor).toFixed(2));
                console.log(`Número pequeño: ${e3Reto.value.numero2}`);
                console.log(`Factor: ${factor}`);
                e3Reto.value.numeroOculto = Math.round(Math.random()) + 1;
                e3Respuesta.value = e3Reto.value.numeroOculto === 1 ? e3Reto.value.numero1 : e3Reto.value.numero2;
            }

            const {dificultad: e3Dificultad, versionReto: e3VersionReto, reto: e3Reto, reiniciarReto: e3ReiniciarReto, generarReto: e3GenerarReto, respuesta: e3Respuesta, respuestaUsuarioCorrecta: e3RespuestaUsuarioCorrecta, versionRespuestaUsuario: e3VersionRespuestaUsuario, inputRespuestaUsuario: e3InputRespuestaUsuario, evaluarRespuestaUsuario: e3EvaluarRespuestaUsuario} = useEvaluacionNodo(e3AddToGenerarReto);

            return {
                scrollToElemento,
                e2Dificultad, e2VersionReto, e2Reto, e2ReiniciarReto, e2GenerarReto, e2Respuesta, e2RespuestaUsuarioCorrecta, e2VersionRespuestaUsuario, e2InputRespuestaUsuario, e2EvaluarRespuestaUsuario,
                e3Dificultad, e3VersionReto, e3Reto, e3ReiniciarReto, e3GenerarReto, e3Respuesta, e3RespuestaUsuarioCorrecta, e3VersionRespuestaUsuario, e3InputRespuestaUsuario, e3EvaluarRespuestaUsuario,

                e1Dificultad, e1VersionReto, e1Reto, e1ReiniciarReto, e1GenerarReto, e1Respuesta, e1RespuestaUsuarioCorrecta, e1VersionRespuestaUsuario, e1InputRespuestaUsuario, e1EvaluarRespuestaUsuario
            }
        },
    }).mount("#doc");
</script>

<style>
    .contenedorNumeros {
        display: flex;
        gap: 20px;
    }

    .contenedorNumeros .numero {
        background-color: var(--paletaPrevio);
        border-radius: 50%;
        padding: 5px;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
